<footer class="footer mt-auto py-3">
    <div class="container-xl container-lg container-md container-sm">
        <div class="row pt-5">
            <div class="col-5">
                <a href="index.html" target="_blank"><img class="footer--logo" src="./assets/img/global/dark-at-logo.svg" width="158" alt="" /></a>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="footer--nav-list float-xl-right float-lg-right float-md-right mt-2 mb-3">
                    <div clas=" footer--hide-mobile-nav d-flex">
                        <ul class="footer--list d-xl-flex d-lg-flex d-md-flex pl-0 list-unstyled">
                            <li><a href="https://www.facebook.com/AppliedTherapeutics/" target="_blank"><img src="./assets/img/global/facebook-footer-icon.svg" width="23" /></a></li>
                            <li><a href="https://appliedtherapeutics.com/" target="_blank">About Applied Therapeutics</a></li>
                            <li><a href="https://appliedtherapeutics.com/contact/" target="_blank">Contact us</a></li>
                            <li><a href="https://appliedtherapeutics.com/wp-content/uploads/2019/04/Applied-Therapeutics-Privacy-Policy.pdf" target="_blank">Privacy Policy</a></li>
                            <li><a href="https://appliedtherapeutics.com/wp-content/uploads/2019/05/Applied-Therapeutics-Terms-of-Use.pdf" target="_blank">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <p class="footer---copyright float-right pr-2 mb-5"> © 2020 Applied Therapeutics. All rights reserved. XX/2020</p>
            </div>
        </div>
    </div>
</footer>