<!--Important Safety Information-->
<section id="isi" class="isi">
    <div class="isi-header">
        <div class="container position-relative">
            <h3 class="h3">Important Safety Information,&nbsp;<br/>Including Boxed Warning</h3>
            <div class="toggle">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="isi-main">
            <h4 class="h4">
                Important Safety Information about the TWIRLA<sup>&reg;</sup> (levonorgestrel and ethinyl estradiol) transdermal system
            </h4>
            <ul>
                <li>
                    Do not use TWIRLA if you smoke cigarettes and are over 35 years old.  Smoking increases your risk of serious cardiovascular side effects from combination hormonal contraceptives (CHCs), including death from heart attack, blood clots or stroke.  This risk increases with age and the number of cigarettes you smoke.
                </li>
                <li>
                    Do not use TWIRLA if your body mass index (BMI) is 30 kg/m<sup>2</sup> or more. If you do not know what your BMI is, please talk to your healthcare provider.  Women with a&nbsp;<br class="show-xl" />BMI of 30 kg/m<sup>2</sup> or more who use CHCs may have a higher risk for developing side effects like blood clots compared to women with a BMI lower than 30 kg/m<sup>2</sup>.
                </li> 
            </ul>
            <h4 class="h4 norm">
                Who should not use TWIRLA?
            </h4>
            <p class="margin">
                Do not use TWIRLA if you have or have had blood clots; history of heart attack or stroke, high blood pressure that medicine cannot control, any condition that makes your blood clot more than normal, or certain heart valve problems; smoke and are over 35 years old; BMI &ge;30 kg/m<sup>2</sup>.

            </p>
            <p class="margin">
                TWIRLA is also not for women who have diabetes and are over 35 years old, diabetes with high blood pressure or kidney, eye, nerve, or blood vessel damage, diabetes for longer than 20&nbsp;years; have had breast cancer or any cancer that is sensitive to female hormones; certain kinds of severe migraine headaches; have liver problems or liver tumors; unexplained bleeding from the vagina; who are or may be pregnant; or who take hepatitis C drugs containing ombitasvir/paritaprevir/ritonavir, with or without dasabuvir, as this may increase levels of liver enzymes in the blood.
            </p>
            <p>
                TWIRLA may not be a good choice for you if you have ever had depression; jaundice (yellowing of the skin or eyes) caused by pregnancy (also called cholestasis of pregnancy) or related to previous use of hormonal birth control.
            </p>

            <h4 class="h4 norm">
                What are the most serious side effects of TWIRLA?
            </h4>
            <p>
                TWIRLA increases the risks of serious side effects, including blood clots, stroke, or heart attack, especially in women who have other risk factors. These can be life-threatening or lead to permanent disability. This increased risk is highest when you first start using hormonal birth control and when you restart the same or different hormonal birth control after not using it for a month or more. Treatment with TWIRLA should be stopped at least 4 weeks before and through 2 weeks after major surgery.
            </p>

            <h4 class="h4 norm">
                What are the most common side effects of TWIRLA?
            </h4>
            <p class="margin">
                The most common side effects reported by women using TWIRLA in a study were skin reactions at the patch site, nausea, headache, menstrual cramps, and weight gain.
            </p>
            <p class="margin-2">
                These are not all the possible side effects of TWIRLA. <strong>Call your healthcare provider for medical advice about side effects.</strong>
            </p>
            <p class="strong margin-2">
                You may report side effects to FDA at 1-800-FDA-1088 or at <a href="{{{link-fda}}}" target="_blank">www.fda.gov/medwatch</a>.
            </p>

            <h4 class="h4 norm">
                What else should I know about TWIRLA?
            </h4>
            <p class="margin">
                TWIRLA is a birth control patch for women with a BMI less than 30&nbsp;kg/m<sup>2</sup> who can become pregnant. It contains two female hormones, a progestin called levonorgestrel, and an estrogen called ethinyl estradiol. TWIRLA may not be as effective in women with a BMI of 25&nbsp;kg/m<sup>2</sup> or more. If you have a BMI of 30&nbsp;kg/m<sup>2</sup> or more, please talk with your healthcare provider about which method of birth control is right for you.
            </p>
            <p class="margin">
                You should not use TWIRLA any earlier than 4 weeks after having a baby or if you are breastfeeding.
            </p>
            <p class="margin strong">
                Hormonal birth control methods help to lower the chances of becoming pregnant when taken as directed. They do not protect against HIV infection (AIDS) and other sexually transmitted infections (STIs).
            </p>
            <p class="margin strong">
                The risk information provided here is not complete. To learn more, review the <a href="{{{link-patient-info}}}" target="_blank">TWIRLA Patient Information</a> and talk with your healthcare provider or pharmacist.
            </p>
        </div>
    </div>
</section>
<div id="sticky-isi">
    <div class="sticky-isi-content"></div>
    <div class="gradient"></div>
</div>