<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg width-100 mx-auto video-fullscreen-bg">
        <video loop muted autoplay poster="./assets/img/000/img_hero_home_LG.jpg" class="home--hero-video">
            <source src="./assets/videos/hb_dsa_Patient_edit03_clean.mp4" type="video/mp4">
            <source src="./assets/videos/hb_dsa_Patient_edit03_clean.webm" type="video/webm">
        </video>
        <div class="text-center home--hero" style="padding-top: 15vh;">
            <div class="home--hero-rotate mx-auto">
                <h1 class="home--hero-rotate-eyebrow">Galactosemia</h1>
                <h2 class="scene scene-1">Learn</h2>
                <h2 class="scene scene-2">Plan</h2>
                <h2 class="scene scene-3">Connect</h2>
            </div>
            <div class="mt-5">
                <p class="hero--content--text col-10 mx-auto">As part of the Galactosemia community we’re on this journey together. We’re here to help you find your way forward.
                </p>
            </div>
            <div class="mt-5">
                <a href="#how-galactosemia-affects-the-body"><button class="hero-content--btn">How Galactosemia Affects the Body</button></a>
            </div>
        </div>
    </div>
</div>