<div class="container">
    <div class="row" >
        <div class="col-12">
            <ul class="d-flex life-stages-container">
                <li class="life-stages-container--text-container pt-4 pr-1">
                    <p class="header-text--light uppercase-text">Choose a stage</p>
                    <h2 class="header-text--h2">Life Stages</h2>
                </li>
                <!-- Newborns -->
                <li class="life-stages--btn life-stages--btn-newborns rollover-img-btn pl-xl-0 pl-lg-1 pl-md-0 pr-4 pb-md-4 pb-sm-4">
                    <a href="{{{ link-newborn }}}" class="d-flex align-items-end">
                        <p>Newborns</p>
                        <img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg" />
                    </a>
                </li>
                <!-- Toddlers -->
                <li class="life-stages--btn life-stages--btn-toddlers rollover-img-btn pl-xl-0 pl-lg-1 pl-md-0 pr-4 pb-md-4 pb-sm-4">
                    <a href="infants-and-toddlers.html" class="d-flex align-items-end">
                        <p>Infants & Toddlers</p>
                        <img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg" />
                    </a>
                </li>
                <!-- Primary -->
                <li class="life-stages--btn life-stages--btn-primary rollover-img-btn pl-xl-0 pl-lg-1 pl-md-0 pr-4 pb-md-4 pb-sm-4">
                    <a href="primary-school-children.html" class="d-flex align-items-end">
                        <p>Primary School Children</p>
                        <img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg" />
                    </a>
                </li>
                <!-- Teens -->
                <li class="life-stages--btn life-stages--btn-teens rollover-img-btn pl-xl-0 pl-lg-1 pl-md-0 pr-4 pb-md-4 pb-sm-4">
                    <a href="teens.html" class="d-flex align-items-end">
                        <p>Teens</p>
                        <img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg" />
                    </a>
                </li>
                <li class="life-stages--btn life-stages--btn-adults rollover-img-btn pl-xl-0 pl-lg-1 pl-md-0 pr-3 pb-md-4 pb-sm-4">
                    <a href="adults.html" class="d-flex align-items-end">
                        <p>Adults</p>
                        <img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>