<div class="container">
    <div class="row section">
        <div class="col-12">
            <div class="what-is--section-bg col-12 pt-5 pb-5">
                <p class="header-text--light uppercase-text">What is Galactosemia?</p>
                <h2 class="header-text--h2 col-lg-8 pl-0">Galactosemia means “too much galactose in the blood.”</h2>
                <p class="paragraph-text--regular-16-gray pr-5 pt-3 mr-4">Galactose builds up in the blood because the body cannot process this simple sugar.</p>
            </div>
        </div>
    </div>
</div>