<div class="container">
    <div class="row section">
        <div class="col-12">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 pathways--section-bg">
                <img src="./assets/img/000/pathways-bg.png" width="765" />
            </div>
            <div class="ol-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="pl-5 pt-3" style="padding-left:7rem!important;">
                    <div class="pb-3"><a name="how-galactosemia-affects-the-body"></a>
                        <p class="header-text--light uppercase-text">how Galactosemia affects the body</p>
                        <h2 class="header-text--h2">A tale of two pathways</h2>
                    </div>
                    <div data-toggle="modal" data-target="#transcriptModal">
                        <img class="shadow--dk-1 img-fluid" src="./assets/img/000/video-placeholder.png" width="546" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>