<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="section pb-xs-0 pb-5">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0">
                        <div class="pb-3">
                            <div class="pb-3">
                                <p class="header-text--light uppercase-text">Take a closer look</p>
                                <h2 class="header-text--h2 metabolic-section-header">The galactose metabolic pathway</h2>
                            </div>
                            <div>
                                <p class="paragraph-text--regular-16 pr-5 mr-4 pb-3">There’s more to the story about how Galactosemia affects the body</p>
                                <div>
                                    <a href="science.html"><button class="btn-hero--primary-green px-5">Learn More</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="left-column-chart" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 px-0">
                        <div>
                            <div class="d-flex metabolic-chart--desktop-layout">
                                <div id="metabolic-chart-step1--container" class="mx-auto" style="cursor:pointer; z-index:auto;">
                                    <div id="metabolic-chart-step1--hotspot" style="position:absolute;width:200px;height:50px;background-color:yellow; opacity:0;"></div>
                                    <div class="metabolic-chart--btn text-center">
                                        <p id="metabolic-chart-step1--text" class="metabolic-chart--text metabolic-chart--text-on">Step 1</p>
                                        <div id="metabolic-chart-step1--highlight" class="metabolic-chart--btn-highlight metabolic-chart--btn-on" style="margin-right:-5px;"></div>
                                    </div>
                                </div>
                                <div id="metabolic-chart-step2--container" class="mx-auto" style="cursor:pointer;">
                                    <div id="metabolic-chart-step2--hotspot" style="position:absolute;width:200px;height:50px;background-color:transparent;"></div>
                                    <div class="metabolic-chart--btn text-center">
                                        <p id="metabolic-chart-step2--text" class="metabolic-chart--text">Step 2</p>
                                        <div id="metabolic-chart-step2--highlight" class="metabolic-chart--btn-highlight" style="margin-right:-5px;"></div>
                                    </div>
                                </div>
                                <div id="metabolic-chart-step3--container" class="mx-auto" style="cursor:pointer;">
                                    <div id="metabolic-chart-step3--hotspot" style="position:absolute;width:200px;height:50px;background-color:transparent;"></div>
                                    <div class="metabolic-chart--btn text-center">
                                        <p id="metabolic-chart-step3--text" class="metabolic-chart--text">Step 3</p>
                                        <div id="metabolic-chart-step3--highlight" class="metabolic-chart--btn-highlight" style="margin-right:-5px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 hide-mobile-image">
                                <div id="metabolic-chart-img1" style="width:540px;">
                                    <p>When everything is working the way it should, <strong>galactose</strong> is converted by <strong>Pathway #1</strong>. In this pathway, galactose is turned into galactose-1-phosphate, or <strong>Gal-1p</strong> by the GALK enzyme.
                                    </p>


                                    <!-- MISSING ASSET - mini_animation_01_homepage.mp4 -->
<!--                                    <video loop muted autoplay poster="./assets/img/000/metabolic-chart-step1@2x.png" class="home--carousel-video" width="550" height="200">-->
<!--                                        <source src="./assets/videos/mini_animation_01_homepage.mp4" type="video/mp4">-->
<!--                                    </video>-->


                                </div>
                                <div id="metabolic-chart-img2" style="width:540px; display:none;">
                                    <p>Because of the inactive or missing <strong>GALT</strong> enzyme, Gal-1p can’t be processed any further. <strong>Gal-1p</strong> clogs the pathway, so galactose can’t go where it’s supposed to.</p>
                                    <img src="./assets/img/000/metabolic-chart-step2@2x.png" width="536" />
                                </div>
                                <div id="metabolic-chart-img3" style="width:540px;display:none;">
                                    <p>Backed-up galactose overflows into Pathway #2, where it shouldn’t go. An enzyme that’s not supposed to be involved—<strong>Aldose Reductase</strong>—changes galactose into <strong>toxic galactitol</strong>.</p>
                                    <img src="./assets/img/000/metabolic-chart-step3@2x.png" width="536" />
                                </div>
                            </div>
                            <img class="hide-desktop-image metabolic-mobile-chart-image" src="./assets/img/000/metabolic-chart-mobile@2x.png" width="345" />
                        </div>
                        <div class="hide-mobile-image" style="position:absolute; top:-20px; left:470px; z-index:-1;">
                            <img src="./assets/img/000/metabolic-pathway-bg.png" width="493" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>