<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="py-0">
                    <p class="header-text--light uppercase-text">Words to Know In Galactosemia</p>
                    <h2 class="header-text--h2 metabolic-section-header">The Four Gs</h2>
                </div>
                <div class="pt-4">
                    <div id="accordion" class="at-accordion">
                        <div class="card at-accordion-card">
                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingOne">
                                <h4 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expaned="false" aria-controls="collapseOne">
                                        <span class="at-accordion-card-header-h2">Galactose</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div>
                                        <p class="paragraph-text--regular-16-gray">A type of sugar found in dairy products, certain other foods, and made in the body.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card at-accordion-card">
                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingTwo">
                                <h4 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expaned="false" aria-controls="collapseTwo">
                                        <span class="at-accordion-card-header-h2 pr-4">Galactitol</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div>
                                        <p class="paragraph-text--regular-16-gray">Galactitol is a toxic substance produced in people with Classic Galactosemia shown to be responsible for a range of health issues.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card at-accordion-card">
                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingThree">
                                <h4 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expaned="false" aria-controls="collapseThree">
                                        <span class="at-accordion-card-header-h2 pr-4">GALT</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h4>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div>
                                        <p class="paragraph-text--regular-16-gray">GALT (galactose-1-phosphate uridylyltransferase) is an enzyme the helps the body process galactose into another substance called Gal-1p. Classic Galactosemia is the term used for people who are missing or have an inactive GALT enzyme.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card at-accordion-card">
                            <div class="card-header at-accordion-card-header" id="headingFour">
                                <h4 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expaned="false" aria-controls="collapseFour">
                                        <span class="at-accordion-card-header-h2">Gal-1p</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h4>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body accordion-bottom-border">
                                    <div>
                                        <p class="paragraph-text--regular-16-gray">Gal-1p stands for galactose-1-phosphate. Gal-1p is a substance that is typically converted by the body into glucose, which is used for energy. Everybody makes Gal-1p. But in people with Classic Galactosemia, the missing or inactive GALT enzyme leads to an excess build-up of Gal-1p and galactose.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 know-your-gem--section-bg">
                <img class="img-fluid" src="./assets/img/000/img_home_laptop.png" alt="" width="530" />
            </div>
        </div>
    </div>
</div>