<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="row toxic-galacitol--section">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 toxic-galacitol-bg">
                    <div class="toxic-galacitol--left-column">
                        <img class=" hide-mobile-image img-fluid" src="./assets/img/000/glacicol-icons-img@2x.png" alt="" width="501" />
                        <img class=" hide-mobile-image" style="position:absolute; z-index:-1; top:-10px; left:-190px;" src="./assets/img/000/toxic-galacitol-bg@2x.png" alt="" width="389" />
                        <div class="hide-desktop-image" style="background:white;">
                            <img src="./assets/img/000/glacicol-icons-mobile-img@2x.png" alt="" width="272" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="toxic-galacitol--right-column py-0 mr-2 pl-xl-5 pl-lg-5 pl-md-5 pl-sm-0 pl-xs-0">
                        <p class="header-text--light uppercase-text">The connection</p>
                        <h2 class="header-text--h2 metabolic-section-header">Toxic galactitol & Galactosemia</h2>
                        <p class="paragraph-text--medium-20 toxic-galacitol--paragraph">Galactosemia means too much galactose in the blood. Galactose builds up in the blood because the body cannot process this simple sugar.</p>
                        <p class="paragraph-text--medium-20 toxic-galacitol--paragraph">In Galactosemia, galactose is mistakenly turned into a substance called galactitol. We’re still learning about galactitol, but what we do know is that it’s highly toxic. This means it’s harmful to the body.</p>
                        <p class="paragraph-text--regular-16 toxic-galacitol--paragraph">Toxic galactitol can build up in the blood, tissues, and organs, including the brain. There is evidence that toxic galactitol is responsible for a range of health problems that people with Galactosemia may experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>