<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="py-0">
                    <p class="header-text--light uppercase-text">Rare and different</p>
                    <h2 class="header-text--h2 metabolic-section-header">Types of Galactosemia</h2>
                    <p class="paragraph-text--medium-20" style="max-width:540;">Galactosemia is a rare condition that affects nearly 80 babies in the U.S. every year.</p>
                    <p class="paragraph-text--medium-20" style="max-width:540;">There are several types of Galactosemia. And while, each person’s experience with Galactosemia will be unique, there are some characteristics among each different type.</p>
                </div>
                <div class="pt-4">
                    <div id="types-accordion" class="at-accordion">
                        <div class="card at-accordion-card">
                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingTypesOne">
                                <h2 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTypesOne" aria-expaned="false" aria-controls="collapseTypesOne">
                                        <span class="at-accordion-card-header-h2">Classic Galactosemia (Type I)</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTypesOne" class="collapse" aria-labelledby="headingOne" data-parent="#types-accordion">
                                <div class="card-body">
                                    <div>
                                        <p class="paragraph-text--regular-16">This is the most common form of Galactosemia that’s caused by a missing or deficient GALT gene. The missing GALT gene prevents the body from processing galactose and can cause lifelong health complications
                                            that range from mild to severe to lifethreatening.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card at-accordion-card">
                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingTypesTwo">
                                <h2 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTypesTwo" aria-expaned="false" aria-controls="collapseTypesTwo">
                                        <span class="at-accordion-card-header-h2 pr-4">Duarte variant Galactosemia</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTypesTwo" class="collapse" aria-labelledby="headingTypesTwo" data-parent="#types-accordion">
                                <div class="card-body">
                                    <div>
                                        <p class="paragraph-text--regular-16">DG is similar to Classic Galactosemia, however those with the Duarte variant are able to process some galactose. Because of that, they can typically expect a milder disease course.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card at-accordion-card">
                            <div class="card-header at-accordion-card-header" id="headingTypesThree">
                                <h2 class="mb-0">
                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTypesThree" aria-expaned="false" aria-controls="collapseTypesThree">
                                        <span class="at-accordion-card-header-h2">Galactokinase deficiency (Type   II)</span>
                                        <div class="reveal-button closed float-right"></div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTypesThree" class="collapse" aria-labelledby="headingTypesThree" data-parent="#types-accordion">
                                <div class="card-body accordion-bottom-border">
                                    <div>
                                        <p class="paragraph-text--regular-16">This form of Galactosemia is a result of a deficient or missing GALK gene, and is thought to have a less severe disease course than those with Classic Galactosemia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 know-your-gem--section-bg">
                <img class="types-of-galactosemia-bg hide-mobile-image" src="./assets/img/000/types-of-galactosemia-bg@2x.png" alt="" width="1051" />
                <img class="types-of-galactosemia-bg hide-desktop-image" src="./assets/img/000/types-of-galactosemia-mobile-bg@2x.png" alt="" width="336" />
            </div>
        </div>
    </div>
</div>