<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto pt-xl-5 pt-lg-5 pt-md-4">
                <div class="text-center">
                    <div>
                        <p class="header-text--light uppercase-text">Testimonials</p>
                        <h2 class="header-text--h2">Living with Galactosemia</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto mt-4">
                <div class="d-flex justify-content-center">
                    <div id="large-image-carousel-one" class="carousel hide-mobile" data-interval="false" data-ride="carousel">
                        <ol class="carousel-indicators carousel-large-image-format-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active mx-2"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class="mx-2"></li>
                            <li data-target="#myCarousel" data-slide-to="2" class="mx-2 mr-3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <div class="position-absolute" style="width:730px; padding-left:5rem;padding-right:5rem; padding-top:3rem;">
                                    <div class="text-center">
                                        <img src="./assets/img/000/carousel-quotes.svg">
                                    </div>
                                    <p class="text-center carousel-item--quote pt-3">Don't make everything about Galactosemia; the individual is and should be encouraged to be so much more than this condition</p>

                                    <p class="text-center carousel-item--quote-name uppercase-text"><span>&mdash;</span><br>NAME L.</p>
                                </div>
                                <img class="img-fluid" src="./assets/img/000/Patient_testimonial_bg@2x.png" width="730" />
                            </div>
                            <div class="carousel-item">
                                <div class="position-absolute" style="width:730px; padding-left:5rem;padding-right:5rem; padding-top:3rem;">
                                    <div class="text-center">
                                        <img src="./assets/img/000/carousel-quotes.svg">
                                    </div>
                                    <p class="text-center carousel-item--quote pt-3">Get involved in the Galactosemia community. You'll find help and support there</p>

                                    <p class="text-center carousel-item--quote-name uppercase-text">HEATHER C.&nbsp;|&nbsp;CAREGIVER</p>
                                </div>
                                <img class="img-fluid" src="./assets/img/000/Patient_testimonial_bg@2x.png" width="730" />
                            </div>
                            <div class="carousel-item">
                                <div class="position-absolute" style="width:730px; padding-left:5rem;padding-right:5rem; padding-top:3rem;">
                                    <div class="text-center">
                                        <img src="./assets/img/000/carousel-quotes.svg">
                                    </div>
                                    <p class="text-center carousel-item--quote pt-3">
                                        Don't make everything about Galactosemia; the individual is and should be encouraged to be so much more than this condition
                                    </p>

                                    <p class="text-center carousel-item--quote-name uppercase-text">CHRISTY J.&nbsp;|&nbsp;CAREGIVER</p>
                                </div>
                                <img class="img-fluid" src="./assets/img/000/Patient_testimonial_bg@2x.png" width="730" />
                            </div>
                        </div>
                        <div class="carousel-large-image-format---controls text-center">
                            <a class="carousel-control-prev" href="#large-image-carousel-one" data-slide="prev">
                                <img src="./assets/img/000/btn-prev-carousel.svg">
                            </a>
                            <a class="carousel-control-next" href="#large-image-carousel-one" data-slide="next">
                                <img src="./assets/img/000/btn-next-carousel.svg">
                            </a>
                        </div>
                        <div style="position: absolute; top:-80px; left:-180px; z-index:-1;">
                            <img src="./assets/img/000/Patient_testimonial_carousel_bg@2x.png" width="1073" />
                        </div>
                    </div>
                    <div id="large-image-carousel-mobile-one" class="carousel slide hide-mobile-carousel" data-interval="false" data-ride="carousel">
                        <ol class="carousel-indicators carousel-large-image-format-mobile-indicators">
                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="0" class="active mx-2"></li>
                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="1" class="mx-2"></li>
                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="2" class="mx-2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/img/global/galactosemia-carousel-mobile@2x.png" width="345" />
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/img/global/galactosemia-carousel-frame-2-mobile@2x.png" width="345" />
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/img/global/galactosemia-carousel-frame-3-mobile@2x.png" width="345" />
                            </div>
                        </div>
                        <div class="carousel-large-image-format-mobile--controls">
                            <a class="carousel-control-prev" href="#large-image-carousel-mobile-one" data-slide="prev">
                                <img src="./assets/img/000/btn-prev-carousel.svg">
                            </a>
                            <a class="carousel-control-next" href="#large-image-carousel-mobile-one" data-slide="next">
                                <img src="./assets/img/000/btn-next-carousel.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>