<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="row join-community-position">
                <div class="col-12 join-community-resources-bg" style="z-index:auto;">
                    <div class="row join-community-text-container">
                        <div class="col-xl-9 col-lg-9 col-md-9 pr-0">
                            <h2 class="text-color--white join-community-header">
                                Stay in the loop and get updates
                            </h2>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <button class="btn-hero--primary-green join-community--btn">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>