<div class="container">
    <div class="row" >
        <div class="col-12 card-section--padding">
            <div class="section" style="margin-top:5vh;">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 card-section--padding">
                        <a href="science.html" class="no-underline">
                            <div class="d-flex hide-mobile-image bg--white shadow--dk-1 border-radius--six">
                                <div>
                                    <img class="callout-card-desktop-image img-fluid" src="./assets/img/global/callout-science-card-img@2x.png" width="254" />
                                    <img class="callout-card-mobile-image  img-xs-fluid" src="./assets/img/global/callout-science-card-img-mobile@2x.png" width="346" />
                                </div>
                                <div class="pl-3 py-3 pr-1 callout-card--text-content">
                                    <p class="header-text--light uppercase-text mt-2">Science</p>
                                    <p class="paragraph-text--bold-24 d-flex">
                                        Dive deeper into the science of Galactosemia
                                        <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg"/></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 callout-card--mt-2 card-section--padding">
                        <a href="resources.html" class="no-underline">
                            <div class="d-flex hide-mobile-image bg--white shadow--dk-1 border-radius--six">
                                <div>
                                    <img class="callout-card-desktop-image" src="./assets/img/global/callout-resources-card-img@2x.png" width="254" />
                                    <img class="callout-card-mobile-image" src="./assets/img/global/callout-resources-card-img-mobile@2x.png" width="346" />
                                </div>
                                <div class="pl-3 py-3 pr-1 callout-card--text-content">
                                    <p class="header-text--light uppercase-text mt-2">Resources</p>
                                    <p class="paragraph-text--bold-24 d-flex">
                                        Find educational resources on Galactosemia
                                        <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg"/></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="d-flex flex-wrap pt-5 mt-3">
                            <h3 class="share-this-text--h3 pt-2">Connect With Galactosemia Together:</h3>
                            <div class="d-flex justify-content-between share-this-page-btn-margin">
                                <div class="px-3 px-xs-3 btn-share-icons">
                                    <button class="btn--connect-facebook">
                                        <span class="icon-facebook-lg-icon"></span>
                                    </button>
                                </div>
                                <div class="px-3 btn-share-icons">
                                    <button class="btn--connect-youtube" >
                                        <span class="icon-youtube-lg-icon"></span>
                                    </button>
                                </div>
                                <div class="px-3 btn-share-icons">
                                    <button class="btn--connect-share">
                                        <span class="btn--connect-share-txt" data-toggle="modal" data-target="#exampleModal">Share <span class="icon-share-lg-icon btn--connect-share-icon"></span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-5">
                        <a href="newborns.html" style="text-decoration: none;">
                            <div class="btn--next-section--primary-green">
                                <div class="d-inline">
                                    <p class="pl-3 pt-4"><span style="font-weight: 500!important;">Next:</span><span>&nbsp;Newborns</span>
                                        <span class="icon-arrow-icon-white"></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
