.bg--primary-green {
    background-color: $primary-green;
}

.bg--primary-yellow {
    background-color: $primary-yellow;
}

.bg--black-85 {
    background-color: $primary-black;
}

.bg--black {
    background-color: $black;
}

.bg--white {
    background-color: $white;
}

.bg--secondary-gray {
    background-color: $primary-gray;
}

.bg--secondary-light-gray {
    background-color: $secondary-light-gray;
}

.bg-secondary-blue {
    background-color: $secondary-blue;
}

.bg-secondary-salmon {
    background-color: $secondary-salmon;
}

.bg--secondary-light-blue {
    background: $secondary-light-blue-bg
}

.bg--callout-blue {
    background: $callout-blue
}


/* IMAGE BACKGROUNDS */

.bg-img--disease-newborn {
    margin-top: -10px;
    margin-left: -510px;
    position: absolute;
    z-index: 1;
}