---
title: DTC Home
meta-description: #
layout: base.hbs
url-src: ./
active-page: dtc-home
canon-url: #

legal-code:
year: 2020

link-newborn: #

---

<section id="dtc-home">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
        {{> 00a-hero }}
        {{> 00b-life-stages }}
        {{> 00c-what-is-galactosemia }}
        {{> 00d-pathways }}
        {{> 00e-pathway-chart }}
        {{> 00f-accordion }}
        {{> 00g-toxic }}
        {{> 00h-types-accordion }}
        {{> 00i-testimonial-carousel }}
        {{> 00j-cta-full-width }}
        {{> 00k-farewell }}
    </main>
</section>