---
title: New Borns
meta-description: #
layout: base.hbs
url-src: ./
active-page: new-borns
canon-url: #

legal-code:
year: 2020

---

<section id="new-borns">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
        <!-- HERO PLACEHOLDER-->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-newborns width-100 mx-auto">
                <div class="pl-4 hero-newborns-header-content">
                    <h1 style="font-size:60px;">Galactosemia in Newborn</h1>
                    <p class="header-text--light uppercase-text">(Ages 0 to 2 months)</p>
                </div>
            </div>
        </div>
        <!-- HERO PLACEHOLDER-->
        <!-- SUBNAV -->
        <div class="row subnav">
            <div class="col-xl-8 col-lg-8 col-md-8 width-100 mx-auto">
                <ul>
                    <li><a href="#processing" class="on">Processing</a></li>
                    <li><a href="#symptoms-and-monitoring">Symptoms & Monitoring</a></li>
                    <li><a href="#your-care-team">Your Care Team</a></li>
                    <li><a href="#dietary-needs">Dietary Needs</a></li>
                </ul>
            </div>
        </div>
        <!-- SUBNAV -->
        <div class="container-xl container-lg container-md container-sm container-xs">
            <div class="row" style="margin-bottom: 50px">
                <div class="col-12">
                    <div class="section pb-xs-0">
                        <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                        <!-- PROCESSING -->
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="pb-3">
                                    <div class="pb-3">
                                        <p class="header-text--light uppercase-text">Processing</p>
                                        <h2 class="header-text--h2 metabolic-section-header">The shock of diagnosis and what's next</h2>
                                        <p>Having your baby diagnosed with Galactosemia can be upsetting and disorienting for you as a family. You may be feeling anxious as symptoms develop. And, you're probably thinking a lot about how you'll rise to the challenge of keeping your baby healthy.</p>
                                    </div>
                                    <div>
                                        <h3>Potential life-threatening symptoms</h3>
                                        <p>The first weeks of life hold some of the most serious threats to your child’s health. While Galactosemia has proven fatal in the past, taking decisive action with your child’s doctors can help provide the necessary care your baby needs.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="left-column-chart" class="col-xl-5 col-lg-5 col-md-5 offset-2 col-sm-12 col-xs-12">
                                <img src="./assets/img/001/img_newborns_processing_parents@2x.png" class="img-fluid" />
                                <div id="accordion" class="at-accordion">
                                    <div class="card at-accordion-card">
                                        <div class="card-header border-bottom-none at-accordion-card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expaned="false" aria-controls="collapseOne">
                                                    <span class="at-accordion-card-header-h2">How is Galactosemia Diagnosed?</span>
                                                    <div class="reveal-button closed float-right"></div>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <p class="paragraph-text--bold-16 mb-0">Newborn Screening</p>
                                                <p class="paragraph-text--regular-16">Before newborn screening was available for
                                                    Galactosemia, diagnosis was often delayed or missed
                                                    until babies became seriously ill. Newborn screening
                                                    makes an earlier diagnosis and immediate dietary
                                                    intervention more likely.</p>
                                                <p class="paragraph-text--regular-16">
                                                    This is why your newborn baby will receive newborn
                                                    screening soon after birth, including a heel prick blood
                                                    test when they are 24-48 hours
                                                    old.</p>
                                                <p class="paragraph-text--bold-16 mb-0">Positive screening results</p>
                                                <p class="paragraph-text--regular-16">The initial newborn screening will indicate if more
                                                    tests are needed. Your doctor will test for Gal-1p
                                                    levels to check for increases in galactose. This is
                                                    because children and adults with Galactosemia will
                                                    have high levels of Gal-1p in their blood. If a
                                                    screening comes back positive for a condition, like
                                                    Galactosemia, confirmation testing will be necessary.</p>
                                                <p class="paragraph-text--regular-16">
                                                    To prevent serious illness or injury, your doctor will
                                                    immediately put your baby on soy or elemental
                                                    formula, even if you are waiting for the diagnosis to be
                                                    confirmed.</p>
                                                <p class="paragraph-text--bold-16 mb-0">Confirmation testing</p>
                                                <p class="paragraph-text--regular-16">Follow-up testing is done as soon as possible to
                                                    search for GALT gene mutations and confirm a
                                                    condition like Galactosemia. It is typically done by a
                                                    blood or urine test.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card at-accordion-card">
                                        <div class="card-header border-bottom-none at-accordion-card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expaned="false" aria-controls="collapseTwo">
                                                    <span class="at-accordion-card-header-h2 pr-4">How does confirmation testing work?</span>
                                                    <div class="reveal-button closed float-right"></div>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <p class="paragraph-text--regular-16">Confirmation testing looks for several clues that
                                                    will confirm your child’s diagnosis</p>
                                                <p class="paragraph-text--bold-16 mb-0">GALT enzyme activity</p>
                                                <p class="paragraph-text--regular-16">Lack of GALT enzyme
                                                    activity indicates that the body is missing or has an
                                                    inactive enzyme needed to break down galactose. An
                                                    enzyme activity test can determine whether there are
                                                    low levels of enzyme activity, which allows a small
                                                    amount of galactose to be metabolized.</p>
                                                <p class="paragraph-text--bold-16 mb-0">Galactitol build-up in urine</p>
                                                <p class="paragraph-text--regular-16">A urine sample may
                                                    be taken to determine if there is an excessive amount
                                                    of galactitol, the toxic substance made when
                                                    galactose cannot be processed by the body.</p>
                                                <p class="paragraph-text--regular-16">
                                                    At this point a diagnosis of Classic Galactosemia can
                                                    be made.</p>
                                                <p class="paragraph-text--bold-16 mb-0">Genetic testing</p>
                                                <p class="paragraph-text--regular-16">A doctor who specializes in
                                                    metabolic genetics may perform a test to understand
                                                    which genetic mutation is causing your child’s
                                                    Galactosemia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card at-accordion-card">
                                        <div class="card-header at-accordion-card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expaned="false" aria-controls="collapseThree">
                                                    <span class="at-accordion-card-header-h2">What happens after a Galactosemia diagnosis?</span>
                                                    <div class="reveal-button closed float-right"></div>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                <p class="paragraph-text--regular-16">To prevent serious illness or
                                                    injury, your doctor will immediately put your baby on
                                                    soy or elemental formula.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PROCESSING ENDS -->
                    </div>
                </div>

                <!-- SYMPTOMS & MONITORING STARTS  -->
                <div class="col-12 mt-5">
                    <!--<div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                            <div class="text-center mb-5" style="max-width:716px;">
                                <p class="header-text--light uppercase-text">Symptoms & monitoring</p>
                                <h2 class="header-text--h2">Short-term symptoms & long-term complications</h2>

                                <!-- TAB Section -->
                                <div class="d-flex mt-5">
                                    <div class="tab--selector tab--btn-on col-xl-6 col-lg-6 col-md-6 mx-auto pl-0">
                                        <div class="tab--btn text-center">
                                            <p id="metabolic-chart-step1--text" class="tab--btn-text">Acute Symptoms</p>
                                            <div id="metabolic-chart-step1--highlight" class="tab--btn-highlight"></div>
                                        </div>
                                    </div>
                                    <div class="tab--selector col-xl-6 col-lg-6 col-md-6 mx-auto pr-0">
                                        <div class="tab--btn text-center">
                                            <p id="metabolic-chart-step2--text" class="tab--btn-text">Chronic Symptoms</p>
                                            <div id="metabolic-chart-step2--highlight" class="tab--btn-highlight"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 hide-mobile-image">
                                    <div class="tab--container">
                                        <p class="text-left">These symptoms can occur immediately after birth as a result of consuming too much galactose (either through breast milk or dairy-containing formula). While waiting for confirmation of Galactosemia diagnosis, your doctor will suspend dairy products and breastfeeding.</p>
                                        <img src="./assets/img/001/symptoms_newborns_component1@2x.png" alt="" width="716" />
                                    </div>
                                    <div class="tab--off tab--container">
                                        <p class="text-left">These symptoms can persist and worsen if the baby continues to consume too much galactose, either through breast milk or dairy-containing formula.
                                        </p>
                                        <img src="./assets/img/001/symptoms_newborns_component2@2x.png" alt="" width="716" />
                                    </div>
                                </div>
                                <!-- TAB Section -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- SYMPTOMS & MONITORING ENDS  -->
            </div>
            <!-- LIVING WITH GALACTOSEMIA SECTION STARTS -->
        </div>
        <div class="row ">
            <div class="col-md-11 left-aligned-cta--newborns bg--secondary-light-blue py-5">
                <!-- WHAT MONITORING STARTS -->
                <div class="container-xl container-lg container-md container-sm container-xs">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="paragraph-text--bold-20 text-color--secondary-blue">What types of testing will my newborn baby need? </h6>
                            <div style="border-left: 4px solid red;">
                                <p style="margin-left:2rem;">
                                    For the first year of your baby’s life, your doctor will need to monitor the amount of Gal-1p in their blood at 3 months and 9 months after beginning a galactose-restricted diet. This is because children and adults with Galactosemia will have high levels of Gal-1p in their blood.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WHAT MONITORING ENDS -->
            </div>
        </div>

        <div class="top-content py-5">
            <div class="container-md">
                <div class="row d-flex align-items-end">
                    <div class="col-md-8">
                        <h5 class="text-danger">KNOW YOUR HEALTHCARE TEAM</h5>
                        <h2>Meet the team who will look after your baby’s health</h2>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                        <a class="carousel-control-prev position-relative" href="#carousel-example" role="button" data-slide="prev">
                            <img src="./assets/img/global/btn-prev-carousel.svg">
                        </a>
                        <ol class="carousel-indicators carousel-large-image-format-mobile-indicators position-relative p-0 m-0">
                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="0" class="active mx-2"></li>
                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="1" class="mx-2"></li>
                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="2" class="mx-2"></li>
                        </ol>
                        <a class="carousel-control-next position-relative" href="#carousel-example" role="button" data-slide="next">
                            <img src="./assets/img/global/btn-next-carousel.svg">
                        </a>
                    </div>
                </div>
                <div id="carousel-example" class="carousel slide py-3" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        <div class="carousel-item col-12 col-sm-6 col-md-4 active">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4">
                            <div class="p-2">
                                <div class="shadow--dk-2 rounded overflow-hidden">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content px-5 pb-3">
                                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                            <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                            <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="width-100 healthcare--professional-bg no-gutters hide--desktop-section mt-5">
            <div class="container-xl container-lg container-md container-sm container-xs doctor-bg">
                <div class="offset-2 col-6 healthcare--professional-container py-4">
                    <div class=" mt-5">
                        <h2 class="header-text--h2 text-white">Are you a healthcare professional?</h2>
                    </div>
                </div>
                <div class="col-4 float-right mx-auto">
                    <div class="text-center">
                        <button class="btn-hero--primary-green" style="position:relative; top: -100px;">Dive Deeper</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="feeding-your-newborn-bg py-5 mt-5">
            <div class="container-md ">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-danger"> Dietary needs </h5>
                        <h2 class="text-dark"> Feeding your newborn </h2>
                        <p class="text-wrap mb-5">
                            Because the lactose in breast milk and dairy-based formulas causes life-threatening symptoms in newborns, it is critical that your newborn be given soy-based or elemental formulas, even if you’re still waiting to confirm their diagnosis after an abnormal result from initial newborn screening.
                        </p>
                        <p>
                            Your baby still needs all of the same nutrients that all babies need to grow, so your doctor will recommend some formula choices available to you:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-md mt-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0">
                    <div class="px-2">
                        <div class="shadow--dk-2 rounded overflow-hidden pb-3">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0">
                    <div class="px-2">
                        <div class="shadow--dk-2 rounded overflow-hidden pb-3">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0">
                    <div class="px-2">
                        <div class="shadow--dk-2 rounded overflow-hidden pb-3">
                            <div class="mx-auto">
                                <div class="text-center section--card-white--content px-5">
                                    <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" />
                                    <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                    <p class="paragraph-text--regular-16">This formula is very low in galactose because it is made from a protein extracted from soybeans. The powered form of soy formula is generally preferred for babies with Galactosemia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg--secondary-light-blue w-100 mt-5 py-5">
            <div class="container-md">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="paragraph-text--bold-20 text-color--secondary-blue">Galactosemia & breastfeeding</h6>
                        <div style="border-left: 4px solid red;">
                            <p class="paragraph-text--medium-condensed-20" style="margin-left:2rem;">
                                The decision to stop breastfeeding your newborn isn’t a healthy one. And while breastfeeding is one way to build a connection with your baby, it’s not the only way.
                            </p>
                        </div>
                    </div>
                    <div class=" col-md-6 text-right">
                        <img src="./assets/img/001/img_newborns_bonding_dad_baby@2x.png" width="441"   style="margin-top: -5rem;"/>
                    </div>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="row">
                    <div class="col-md-6 pl-5">
                        <div class="d-flex align-items-center py-2">
                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" class="mr-5"/>
                            <p>Feeding time can and should still provide an opportunity to connect through comfort and love with your new baby.</p>
                        </div>
                        <div class="d-flex align-items-center py-2">
                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" class="mr-5"/>
                            <p>Feeding time can and should still provide an opportunity to connect through comfort and love with your new baby.</p>
                        </div>
                        <div class="d-flex align-items-center py-2">
                            <img src="./assets/img/global/icon_mutation_MD@2x.png" width="88" class="mr-5"/>
                            <p>Feeding time can and should still provide an opportunity to connect through comfort and love with your new baby.</p>
                        </div>
                    </div>
                    <div class="offset-1 col-md-5">
                        And if you find yourself feeling guilty, anxious, or disappointed about stopping breastfeeding—know that it’s perfectly normal to feel that way. Give yourself permission to feel your feelings, the good and the bad. Mothers who have had to stop breastfeeding early may be more likely to experience postpartum depression. If you’re feeling overwhelmed and need some help, Postpartum Support International has resources to help.
                    </div>
                </div>
            </div>
        </div>
        <!-- HEALTHCARE SECTION STARTS -->
        <div class="col-12">
            <!--	<div class="section mt-5" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400"> -->
            <div class="section mt-5">
                <!-- HEALTHCARE PROFESSIONAL SECTION DESKTOP LAYOUT STARTS-->

                <!-- HEALTHCARE PROFESSIONAL SECTION DESKTOP LAYOUT  ENDS -->

                <div class="col-12">
                    <!--  <div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class=" container-md">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto pt-xl-5 pt-lg-5 pt-md-4">
                                <div class="text-center ">
                                    <div>
                                        <p class="header-text--light uppercase-text">Testimonials</p>
                                        <h2 class="header-text--h2">Living with Galactosemia</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-xl-5 pt-lg-5 pt-md-4 testimonial-bg">
                            <div class="offset-2 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 mx-auto">
                                <div class="d-flex justify-content-center pt-3">
                                    <!-- carousel desktop  -->


                                    <div id="large-image-carousel-one" class="carousel slide hide-mobile" data-interval="false" data-ride="carousel">
                                        <ol class="carousel-indicators carousel-large-image-format-indicators mx-auto">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active mx-2"></li>
                                            <li data-target="#myCarousel" data-slide-to="1" class="mx-2"></li>
                                            <li data-target="#myCarousel" data-slide-to="2" class="mx-2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="img-fluid" src="./assets/img/001/Callout-Patient-Quote@2x.png" width="1123" />
                                            </div>
                                            <div class="carousel-item">
                                                <img class="img-fluid" src="./assets/img/001/Callout-Patient-Quote@2x.png" width="1123" />
                                            </div>
                                            <div class="carousel-item">
                                                <img class="img-fluid" src="./assets/img/001/Callout-Patient-Quote@2x.png" width="1123" />
                                            </div>
                                        </div>
                                        <!-- carousel controls -->
                                        <div class="carousel-large-image-format---controls">
                                            <a class="carousel-control-prev" href="#large-image-carousel-one" data-slide="prev" style="color:purple!important;">
                                                <!-- <span class="carousel-control-prev-icon"></span>-->
                                                <img src="./assets/img/global/btn-prev-carousel.svg">
                                            </a>
                                            <a class="carousel-control-next" href="#large-image-carousel-one" data-slide="next">
                                                <!-- <span class="carousel-control-next-icon"></span>-->
                                                <img src="./assets/img/global/btn-next-carousel.svg">
                                            </a>
                                        </div>
                                        <!-- carousel controls -->
                                    </div>


                                    <!-- carousel mobile -->

                                    <div id="large-image-carousel-mobile-one" class="carousel slide hide-mobile-carousel" data-interval="false" data-ride="carousel">
                                        <ol class="carousel-indicators carousel-large-image-format-mobile-indicators">
                                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="0" class="active mx-2"></li>
                                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="1" class="mx-2"></li>
                                            <li data-target="#large-image-carousel-mobile-one" data-slide-to="2" class="mx-2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="./assets/img/global/galactosemia-carousel-mobile@2x.png" width="345" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="./assets/img/global/galactosemia-carousel-frame-2-mobile@2x.png" width="345" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="./assets/img/global/galactosemia-carousel-frame-3-mobile@2x.png" width="345" />
                                            </div>
                                        </div>
                                        <!-- carousel controls -->
                                        <div class="carousel-large-image-format-mobile--controls">
                                            <a class="carousel-control-prev" href="#large-image-carousel-mobile-one" data-slide="prev" style="color:purple!important;">
                                                <!-- <span class="carousel-control-prev-icon"></span>-->
                                                <img src="./assets/img/global/btn-prev-carousel.svg">
                                            </a>
                                            <a class="carousel-control-next" href="#large-image-carousel-mobile-one" data-slide="next">
                                                <!-- <span class="carousel-control-next-icon"></span>-->
                                                <img src="./assets/img/global/btn-next-carousel.svg">
                                            </a>
                                        </div>
                                        <!-- carousel controls -->
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LIVING WITH GALACTOSEMIA SECTION ENDS  -->

                <!-- JOIN THE LARGER COMMUNITY SECTION STARTS -->

                <div class="col-12">
                    <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
                    <div class="section" style="margin-top:5vh;">
                        <div class="row join-community-position stay-update-newborns-bg">
                            <div class="col-12 mask-group-bg" style="z-index:auto;">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-9">
                                        <h2 class="text-white join-community-header">
                                            Stay in the loop and get updates
                                        </h2>

                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3">
                                        <button class="btn-hero--primary-green" style="width:190px; height:48px;">Sign Up</button>
                                    </div>

                                </div>
                                <!-- <img class="join-community-position"style="width:100%;z-index:0;margin-top:-300px;" src="./assets/img/global/callout-signup-bg@2x.png">-->
                            </div>
                        </div>
                    </div>

                </div>

                <!-- JOIN THE LARGER COMMUNITY SECTION ENDS -->

                <!-- SCIENCE AND RESOURCES SECTION STARTS  -->
                <div class="col-12 card-section--padding">
                    <div class="section" style="margin-top:5vh;">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 card-section--padding">
                                <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six">
                                    <div>
                                        <img class="callout-card-desktop-image img-fluid" src="./assets/img/global/callout-science-card-img@2x.png" width="254" />
                                        <img class="callout-card-mobile-image  img-xs-fluid" src="./assets/img/global/callout-science-card-img-mobile@2x.png" width="346" />
                                    </div>
                                    <div class="pl-3 py-3 callout-card--text-content">
                                        <p class="header-text--light uppercase-text mt-2">Science</p>
                                        <p class="paragraph-text--bold-24 d-flex">
                                            Dive deeper into the science of Galactosemia
                                            <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg"/></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 callout-card--mt-2 card-section--padding">
                                <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six">
                                    <div>
                                        <img class="callout-card-desktop-image" src="./assets/img/global/callout-resources-card-img@2x.png" width="254" />
                                        <img class="callout-card-mobile-image" src="./assets/img/global/callout-resources-card-img-mobile@2x.png" width="346" />
                                    </div>
                                    <div class="pl-3 py-3 callout-card--text-content">
                                        <p class="header-text--light uppercase-text mt-2">Resources</p>
                                        <p class="paragraph-text--bold-24 d-flex">
                                            Find educational resources on Galactosemia
                                            <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/img/global/arrow-btn.svg"/></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="d-flex flex-wrap pt-5 mt-3">
                                    <h3 class="share-this-text--h3 pt-2">Connect With Galactosemia Together:</h3>
                                    <div class="justify-content-between share-this-page-btn-margin">
                                        <img class="px-2 px-xs-3 btn-share-icons" src="./assets/img/global/facebook-lg-icon.svg" width="62" />
                                        <img class="px-2 btn-share-icons" style="margin-left:-10px;" src="./assets/img/global/youtube-lg-icon.svg" width="62" />
                                        <button class="modal-share-btn" data-toggle="modal" data-target="#exampleModal">
                                            <img src="./assets/img/global/share-lg-icon.svg" width="129"/></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-5">
                                <!-- next section button  -->
                                <div class="btn--next-section--primary-green">
                                    <div class="d-inline">
                                        <p class="pl-3 pt-4">Next:<span>&nbsp;Infants & Toddlers</span>
                                            <span class="icon-arrow-icon-white"></span>
                                        </p>
                                    </div>
                                </div>
                                <!-- next section button  -->
                            </div>
                        </div>


                    </div>
                </div>
                <!-- SCIENCE AND RESOURCES SECTION ENDS  -->
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content justify-content-center">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Share This Page</h5>
                            <button type="button" class="close text-color--primary-green" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li class="my-3">
                                    <a href="" class="modal--list-link pb-2">
                                        <span class="icon-facebook-square-brands pr-2"></span> Facebook
                                    </a>
                                    <hr>
                                </li>
                                <li class="my-3">
                                    <a href="" class="modal--list-link py-2">
                                        <span class="icon-twitter-brands pr-2"></span> Twitter
                                    </a>
                                    <hr>
                                </li>
                                <li class="my-3">
                                    <a href="" class="modal--list-link py-2">
                                        <span class="icon-linkedin-brands pr-2"></span> LinkedIn
                                    </a>
                                    <hr>
                                </li>
                                <li class="my-3">
                                    <a href="" class="modal--list-link py-2">
                                        <span class="icon-envelope-regular pr-2"></span> Email
                                    </a>
                                    <hr>
                                </li>
                                <li class="my-3">
                                    <a href="" class="modal--list-link py-2">
                                        <span class="icon-link-solid pr-2"></span> Copy Link
                                    </a>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                        <!--  <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Modal -->

            <div class="references-tray bg--secondary-light-blue">
                <div class="container-xl container-lg container-md container-sm">
                    <!-- DESKTOP LAYOUT FOR REFERENCES BTN -->
                    <div class="row bg--secondary-light-blue pt-3 references-tray--desktop-layout">
                        <div class="col-5">
                            <!--left-->
                            <p class="text-color--primary-green" style="font-size:16px;">References</p>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 bg--secondary-light-blue">
                            <div class="float-right">
                                <!--right-->
                                <p class="text-color--primary-green" style="font-size:28px;">
                                    +</p>
                            </div>
                        </div>
                    </div>
                    <!-- MOBILE LAYOUT FOR REFERENCES BTN-->
                    <div class="row references-tray--mobile-layout">
                        <div class="col-12">
                            <div class="d-flex justify-content-center pt-2">
                                <p class="text-color--primary-green mt-1" style="font-size:16px;">References
                                    <span style="font-size:28px;vertical-align:sub; padding-left:6px;">+</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>