---
title: Diet
meta-description: #
layout: base.hbs
url-src: ./
active-page: diet
canon-url: #

legal-code:
year: 2020

---

<section id="diet">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
        <!-- HERO PLACEHOLDER-->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-diet width-100 mx-auto">
                <div class="pl-4 hero-diet-content">
                    <p class="header-text--light uppercase-text">Galactosemia diet</p>
                    <h1 class="header-text--h1">Learning about a Galactosemia-friendly diet</h1>
                </div>

            </div>
        </div>
        <!-- HERO PLACEHOLDER-->
        <div class="container-xl">
            <div class="row" style="margin-bottom: 50px mt-5">
                <div class="col-12">
                    <!--<div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class="section">
                        <!-- EVERYONE MAKES GALACTOSE SECTION STARTS -->
                        <div class="text-center">
                            <p class="header-text--light uppercase-text">Endogenous Galactose</p>
                            <h2 class="header-text--h2" style="padding-left: 4rem; padding-right:4rem;">Everyone makes galactose, whether or not they have Galactosemia</h2>
                        </div>

                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">

                                <div style="margin-top:30px; margin-left:-130px; z-index:1;">
                                    <img src="./assets/images/diet/img_Diet_Secondary_LG@2x.png" width="546" />
                                </div>

                            </div>

                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="pt-5 mr-2 science--paragraph-section-1">
                                    <p class="paragraph-text--medium-condensed-20">Galactose is a type of sugar found in milk, dairy products and certain other foods.
                                    </p>

                                    <p class="paragraph-text--regular-16">That is why dairy-based products aren’t recommended in a Galactosemia-friendly diet, as people with Galactosemia are missing an enzyme that is needed to correctly process lactose, leading to formation of toxic galactitol. Following a galactose-free diet can reduce the amount of galactose in your body, which leads to creation of toxic galactitol. However, galactose is still made naturally in your body—this is called “endogenous” galactose.</p>
                                    <div class="py-2" style="margin-left: -1rem;">
                                        <img src="./assets/images/diet/galactose_chart@2x.png" width="549" />
                                    </div>
                                    <p class="paragraph-text--regular-16"></p>Most dietitians recommend fruits, vegetables, and legumes, given the low galactose content. Galactose exposure—either from diet or produced naturally by the body—leads to production of toxic galactitol and is thought to contribute to long-term complications. This is why dietary restrictions are so critical after a diagnosis of Classic Galactosemia.</p>
                                </div>

                            </div>

                        </div>

                        <!-- EVERYONE MAKES GALACTOSE SECTION ENDS -->
                        <!--  GLASTOCEMIA DIET SECTION STARTS -->
                        <div class="section-row-full-width bg--white">
                            <!--<div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                            <div class="container-xl container-lg container-md container-sm">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="text-left">
                                        <p class="header-text--light uppercase-text">What’s In Your Food</p>
                                        <h2 class="header-text--h2">Galactosemia Diet 101</h2>
                                    </div>
                                    <div>
                                        <p class="paragraph-text--regular-16 pt-3 mb-2" style="max-width:726px;">The first thing to remember about your approach to food is that just because meal planning has to account for restricting galactose and getting eagle-eyed with a food label, doesn’t mean that it can’t be delicious, satisfying, and healthy. </p>
                                        <p class="paragraph-text--regular-16 pt-0" style="max-width:726px;">This is not an exhaustive list of every food that contains galactose. It is representative of some common foods that contain galactose in some amount. Talk to your doctor if you have questions about a galactose-free diet.</p>
                                        <p class="paragraph-text--medium-condensed-20 pt-5">Click the letter to see the major foods and/or ingredients that contain galactose.</p>
                                    </div>

                                    <div class="diet-alphabet--giant-container">

                                        <div class="position-absolute " style="top:45%;">
                                            <p id="diet--giant-letter" class="diet-alphabet--giant-letter">A</p>
                                        </div>
                                        <img src="./assets/images/diet/Shape_Organic@2x.png" width="245" />
                                    </div>


                                </div>
                                <div class="section-row-full-width bg--white diet-alphabet-shadow--lt-2">
                                    <div class="d-flex jusify-content-between">
                                        <div style="position: relative; top:1vh; left:310px;">
                                            <img id="diet-alphabet--prev-btn" src="./assets/images/diet/Arrow Carousel_Left@2x.png" width="48" height="48">
                                        </div>
                                        <div class="mx-auto" style="max-width:900px; height:66px; overflow:hidden;">
                                            <div class="d-flex py-2">
                                                <div class="d-flex">
                                                    <div id="diet-letters" class="d-flex" style="z-index:1;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position:relative;left:-340px; top:1vh;z-index:2;">
                                            <img id="diet-alphabet--next-btn" src="./assets/images/diet/Arrow Carousel_Right@2x.png" width="48" height="48">
                                        </div>
                                    </div>
                                </div>
                                <div id="diet-alphabet--selection" class="diet-alphabet--selection-container">
                                    <ul id="diet-alphabet--selection-list" class="ul-list--general-style">
                                        <!-- <li>
                                            <p class="paragraph-text--medium-condensed-20">test</p>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- GLASTOCEMIA DIET SECTION ENDS -->
                        <!-- MEAL PLANNING SECTION STARTS -->
                        <div class="row" style="margin-top:12vh;">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div style="margin-left: -20rem;">
                                    <img src="./assets/images/diet/img_ingredients_MD@2x.png" width="602" />
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div>
                                    <p class="paragraph-text--bold-24">So how can you make meal planning easier on a Galactosemia diet? </p>

                                    <p class="paragraph-text--regular-16">Plan and make foods that the adults in the family enjoy. Most parents know that if you only cook what the kids love to eat, your meals may start looking like only pasta and chicken. Broadening the family menu will help the youngest family members to learn to enjoy a variety of foods.</p>
                                    <div class="d-flex pt-3">
                                        <div class="pr-3">
                                            <img src="./assets/images/diet/Icon_Meal@2x.png" width="62" />
                                        </div>
                                        <div>
                                            <p class="paragraph-text--bold-20 mb-0">Experiment with foods</p>
                                            <p class="paragraph-text--regular-16">Offer new foods with ones the family knows and loves. Exposure to new food paired with the comfort of familiar foods can make it easier for your child to try new foods.</p>
                                        </div>
                                    </div>

                                    <div class="d-flex pt-3">
                                        <div class="pr-3">
                                            <img src="./assets/images/diet/icon_Repetition@2x.png" width="62" />
                                        </div>
                                        <div>
                                            <p class="paragraph-text--bold-20 mb-0">Keep at it</p>
                                            <p class="paragraph-text--regular-16">No matter the age, family members can be a little leery of new foods. Offer different types of new foods when you can, which will make it more likely for your family to give new foods a try.</p>
                                        </div>
                                    </div>

                                    <div class="d-flex pt-3">
                                        <div class="pr-3">
                                            <img src="./assets/images/diet/icon_Neutral@2x.png" width="62" />
                                        </div>
                                        <div>
                                            <p class="paragraph-text--bold-20 mb-0">Keep it simple</p>
                                            <p class="paragraph-text--regular-16">Kids are masters at spotting coercion. Offer up new foods as neutrally as possible. A simple “this is what we’re having for dinner” can help.</p>
                                        </div>
                                    </div>

                                    <div class="d-flex pt-3">
                                        <div class="pr-3">
                                            <img src="./assets/images/diet/icon_Routine@2x.png" width="62" />
                                        </div>
                                        <div>
                                            <p class="paragraph-text--bold-20 mb-0">Create a routine</p>
                                            <p class="paragraph-text--regular-16">Good for children and adults alike, having set times to make sure everyone in the family is nourishing themselves will help young children manage their overall nutrition throughout the day. This can help older family members remember to take a break and refuel.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- MEAL PLANNING SECTION ENDS -->


                    </div>
                </div>

            </div>

        </div>
        <!-- BLOOD SECTION ENDS -->
        <!-- SIT DOWN TOGETHER SECTION STARTS-->
        <div class="col-12" style="margin-left: -2rem;">
            <div class="section pb-xs-0">
                <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div style="margin-left:-90px;">
                            <div>
                                <div class="offset-2 col-6">
                                    <div style="position:absolute;top:50px;">
                                        <p class="paragraph-text--bold-20 text-color--secondary-blue ml-5">Sit down together</p>
                                        <div class="d-flex">
                                            <div class="bg-secondary-salmon" style="width:12px;height:47px;"></div>
                                            <p class="paragraph-text--medium-condensed-20" style="margin-left:2rem; width:584px;  margin-top:-.4rem;">In general, children who are able to eat a meal with their family have higher diet quality and do better in school.
                                        </div>
                                        </p>
                                    </div>

                                    <div class="bg--secondary-light-blue" style=" height: 216px; width: 1273px; margin-left: -200px;">
                                        <div style="position:relative; left: 70%; top:-4rem;">
                                            <img src="./assets/images/diet/img_drinking@2x.png" width="441" />
                                            <div class="bg--secondary-light-blue diet--sit-down-together-image-bg "></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SIT DOWN TOGETHER SECTION ENDS-->

        <!-- LIVING WITH GALACTOSEMIA SECTION STARTS -->

        <div class="col-12">
            <!--  <div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
            <div class="section pt-0 pl-5 ml-5 pr-5 mr-5">
                <div class="row pt-xl-5 pt-lg-5 pt-md-4">
                    <div class="row pt-xl-5 pt-lg-5 pt-md-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto pt-xl-5 pt-lg-5 pt-md-4">
                            <div class="text-center">
                                <div>
                                    <p class="header-text--light uppercase-text">Testimonials</p>
                                    <h2 class="header-text--h2">Living with Galactosemia</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto mt-4">
                            <div class="d-flex justify-content-center">
                                <!-- carousel desktop  -->


                                <div id="large-image-carousel-one" class="carousel hide-mobile" data-interval="false" data-ride="carousel">
                                    <ol class="carousel-indicators carousel-large-image-format-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active mx-2"></li>
                                        <li data-target="#myCarousel" data-slide-to="1" class="mx-2"></li>
                                        <li data-target="#myCarousel" data-slide-to="2" class="mx-2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">

                                            <div class="position-absolute" style="width:730px; padding-left:5rem;padding-right:5rem; padding-top:3rem;">
                                                <div class="text-center">
                                                    <img src="./assets/images/carousel/carousel-quotes.svg">
                                                </div>
                                                <p class="text-center carousel-item--quote pt-3">It was very tough as a child not understanding what I could and could not eat.</p>
                                                <p class="text-center carousel-item--quote-name uppercase-text">Kimberley M.&nbsp;|&nbsp;patient</p>
                                            </div>
                                            <img class="img-fluid" src="./assets/images/carousel/Patient_testimonial_bg@2x.png" width="730" />
                                        </div>
                                        <div class="carousel-item">
                                            <div class="position-absolute" style="width:730px; padding-left:5rem;padding-right:5rem; padding-top:3rem;">
                                                <div class="text-center">
                                                    <img src="./assets/images/carousel/carousel-quotes.svg">
                                                </div>
                                                <p class="text-center carousel-item--quote pt-3">I have favorite restaurants, and the employees know I cannot eat anything dairy.</p>

                                                <p class="text-center carousel-item--quote-name uppercase-text">Sharon H.&nbsp;|&nbsp;patient</p>
                                            </div>
                                            <img class="img-fluid" src="./assets/images/carousel/Patient_testimonial_bg@2x.png" width="730" />
                                        </div>
                                        <div class="carousel-item">
                                            <div class="position-absolute" style="width:730px; padding-left:5rem;padding-right:5rem; padding-top:3rem;">
                                                <div class="text-center">
                                                    <img src="./assets/images/carousel/carousel-quotes.svg">
                                                </div>
                                                <p class="text-center carousel-item--quote pt-3">Following the diet is easier than in the past, with so many more dairy-free options; however, it is an extra hassle and bears social implications.</p>

                                                <p class="text-center carousel-item--quote-name uppercase-text">CHRISTY J.&nbsp;|&nbsp;CAREGIVER</p>
                                            </div>
                                            <img class="img-fluid" src="./assets/images/carousel/Patient_testimonial_bg@2x.png" width="730" />
                                        </div>
                                    </div>
                                    <!-- carousel controls -->
                                    <div class="carousel-large-image-format---controls text-center">
                                        <a class="carousel-control-prev" href="#large-image-carousel-one" data-slide="prev">
                                            <!-- <span class="carousel-control-prev-icon"></span>-->
                                            <img src="./assets/images/carousel/btn-prev-carousel.svg">
                                        </a>
                                        <a class="carousel-control-next" href="#large-image-carousel-one" data-slide="next">
                                            <!-- <span class="carousel-control-next-icon"></span>-->
                                            <img src="./assets/images/carousel/btn-next-carousel.svg">
                                        </a>
                                    </div>
                                    <!-- carousel controls -->
                                    <!-- carousel bg -->
                                    <div style="position: absolute; top:-80px; left:-180px; z-index:-1;">
                                        <img src="./assets/images/carousel/Patient_testimonial_carousel_bg@2x.png" width="1073" />
                                    </div>
                                    <!-- carousel bg -->
                                </div>


                                <!-- carousel mobile -->

                                <div id="large-image-carousel-mobile-one" class="carousel slide hide-mobile-carousel" data-interval="false" data-ride="carousel">
                                    <ol class="carousel-indicators carousel-large-image-format-mobile-indicators">
                                        <li data-target="#large-image-carousel-mobile-one" data-slide-to="0" class="active mx-2"></li>
                                        <li data-target="#large-image-carousel-mobile-one" data-slide-to="1" class="mx-2"></li>
                                        <li data-target="#large-image-carousel-mobile-one" data-slide-to="2" class="mx-2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="./assets/images/home/galactosemia-carousel-mobile@2x.png" width="345" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./assets/images/home/galactosemia-carousel-frame-2-mobile@2x.png" width="345" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./assets/images/home/galactosemia-carousel-frame-3-mobile@2x.png" width="345" />
                                        </div>
                                    </div>
                                    <!-- carousel controls -->
                                    <div class="carousel-large-image-format-mobile--controls">
                                        <a class="carousel-control-prev" href="#large-image-carousel-mobile-one" data-slide="prev" style="color:purple!important;">
                                            <!-- <span class="carousel-control-prev-icon"></span>-->
                                            <img src="./assets/images/carousel/btn-prev-carousel.svg">
                                        </a>
                                        <a class="carousel-control-next" href="#large-image-carousel-mobile-one" data-slide="next">
                                            <!-- <span class="carousel-control-next-icon"></span>-->
                                            <img src="./assets/images/carousel/btn-next-carousel.svg">
                                        </a>
                                    </div>
                                    <!-- carousel controls -->
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LIVING WITH GALACTOSEMIA SECTION ENDS  -->


            <!-- NAVIGTING INGREDIENTS SECTION STARTS-->
            <div class="row">
                <div class="col-12 my-5">
                    <div class="text-center py-5">
                        <p class="header-text--light uppercase-text">Labels</p>
                        <h2 class="header-text--h2">Navigating the ingredients in common foods</h2>
                    </div>
                    <!-- <div class="text-center">
                        <img src="./assets/images/diet/Ingredient_Selector@2x.png" width="1162" />

                    </div> -->

                    <div class="row">
                        <div class="col-12 ml-4 d-flex justify-content-center">
                            <div>
                                <ul class="list-unstyled">
                                    <li class="pr-0 mr-0" style="max-width: 230px;
                                    ">
                                        <p id="header1" class="diet--tab-header diet--tab-on-border--header paragraph-text--bold-24 mb-0">ID Ingredients List</p>

                                    </li>
                                    <li>
                                        <p class="diet--tab diet--sub-tab  diet--tab-on paragraph-text--bold-20 text--color--primary-black-25 ml-3 pt-2">Example 1</p>
                                    </li>
                                    <li>
                                        <p class="diet--tab diet--sub-tab paragraph-text--bold-20 text--color--primary-black-25 ml-3 pt-2">Example 2</p>
                                    </li>
                                    <li>
                                        <p class="diet--tab diet--sub-tab  paragraph-text--bold-20 text--color--primary-black-25 ml-3 pt-2">Example 3</p>
                                    </li>
                                    <li>
                                        <p class="diet--tab diet--main-tab paragraph-text--bold-24 text--color--primary-black-25 pt-3" style="width:240px;">Allergy Information</p>
                                    </li>
                                    <li>
                                        <p class="diet--tab diet--main-tab paragraph-text--bold-24 text--color--primary-black-25 pt-3" style="width:150px;">Vegan Label</p>
                                    </li>
                                    <li>
                                        <p class="diet--tab diet--main-tab paragraph-text--bold-24 text--color--primary-black-25 pt-3">Pareve and Kosher Labels</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="diet--tab-container">
                                <div class="diet--tab-selection">
                                    <div class="bg--white diet--tab-content-container shadow--dk-2 ml-5">
                                        <div class="d-inline-flex">
                                            <div class="pl-4 pt-4" style="max-width: 275px;">
                                                <p class="paragraph-text--regular-14 pr-1">Ingredients are listed so the highest amounts are first. Here are sample food labels with ingredients in foods that <strong>are not recommended for people with Galactosemia</strong>.</p>
                                                <p class="paragraph-text--bold-20">Example 1</p>
                                                <p class="paragraph-text--regular-16">This cake mix is not recommended in the diet since its label warns:<strong class="text-color--secondary-salmon"> “May contain milk ingredients” </strong></p>
                                            </div>
                                            <div>
                                                <img src="./assets/images/diet/Card_1.png" width="464">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="diet--tab-selection" style="display: none;">

                                    <div class="bg--white diet--tab-content-container shadow--dk-2 ml-5">
                                        <div class="d-inline-flex">
                                            <div class="pl-4 pt-4" style="max-width: 280px;">
                                                <p class="paragraph-text--regular-14 pr-1">Ingredients are listed so the greatest amounts are first. Here are sample food labels with ingredients in foods that <strong>are not recommended for patients with Galactosemia</strong>.</p>
                                                <p class="paragraph-text--bold-20">Example 2</p>
                                                <p class="paragraph-text--regular-16">This bread is not recommended in the Galactosemia diet since its label includes the warning:  <br><span class="text-color--secondary-salmon">“<strong>CONTAINS:</strong> WHEAT, <strong>MILK</strong>, SOY.”</span></p>
                                            </div>
                                            <div>
                                                <img src="./assets/images/diet/Card_02@2x.png" width="481">

                                            </div>

                                        </div>
                                    </div>

                                    <!-- <img src="./assets/images/diet/Card_2@2x.png" width="759"> -->
                                </div>
                                <div class="diet--tab-selection" style="display: none;">
                                    <div class="bg--white diet--tab-content-container shadow--dk-2 ml-5">
                                        <div class="d-inline-flex">
                                            <div class="pl-4 pt-4" style="max-width: 280px;">
                                                <p class="paragraph-text--regular-14 pr-1">Ingredients are listed so the greatest amounts are first. Here are sample food labels with ingredients in foods that <strong>are not recommended for patients with Galactosemia</strong>.</p>
                                                <p class="paragraph-text--bold-20">Example 3</p>
                                                <p class="paragraph-text--regular-16">Some products have additional milk-containing ingredients that must be checked for people with Galactosemia, for example:<strong class="text-color--secondary-salmon"> whey and casein are proteins found in milk.</strong></p>
                                            </div>
                                            <div>
                                                <img src="./assets/images/diet/Card_03Example_Cropped@2x.png" width="479">

                                            </div>

                                        </div>
                                    </div>
                                    <!-- <img src="./assets/images/diet/Card_3@2x.png" width="759"> -->
                                </div>
                                <div class="diet--tab-selection" style="display: none;">
                                    <div class="bg--white diet--tab-content-container shadow--dk-2 ml-5">
                                        <div class="d-inline-flex">
                                            <div class="pl-4 pt-3 mt-3" style="max-width: 300px;">

                                                <p class="paragraph-text--bold-20">Allergy Information</p>
                                                <p class="paragraph-text--regular-16">Here is another way to find dairy products on a label. Most states are now required to list if a food contains dairy or was processed with equipment that makes dairy-containing foods.
                                                </p>

                                                <p class="paragraph-text--regular-16">As an example, you might see a message like this on a label: This product was made on equipment that also processes peanuts, tree nuts, soy, wheat, and <strong>dairy</strong> products.
                                                </p>
                                            </div>
                                            <div>
                                                <img src="./assets/images/diet/Card_4_Cropped@2x.png" width="480">

                                            </div>

                                        </div>
                                    </div>
                                    <!-- <img src="./assets/images/diet/Card_4@2x.png" width="759"> -->
                                </div>
                                <div class="diet--tab-selection" style="display: none;">
                                    <div class="bg--white diet--tab-content-container shadow--dk-2 ml-5">
                                        <div class="d-inline-flex">
                                            <div class="pl-4 pt-4 mt-5" style="max-width: 265px;">

                                                <p class="paragraph-text--bold-20">Vegan Label</p>
                                                <p class="paragraph-text--regular-16">Vegan doesn’t always mean galactose-free. While you can count on a certified vegan label to tell you a food is dairy-product free, it may still contain galactose from other sources of proteins such as <a href="#" class="bold-text color--primary-green-link text-underline">certain beans or other legumes</a>.</p>
                                            </div>
                                            <div style="margin-left: 4.5vw;">
                                                <img src="./assets/images/diet/Card_5_Croppped@2x.png" width="361">

                                            </div>

                                        </div>
                                    </div>
                                    <!-- <img src="./assets/images/diet/Card_5@2x.png" width="759"> -->
                                </div>
                                <div class="diet--tab-selection" style="display: none;">
                                    <div class="bg--white diet--tab-content-container shadow--dk-2 ml-5">
                                        <div class="d-inline-flex">
                                            <div class="pl-4 pt-4 mt-5" style="max-width: 280px;">

                                                <p class="paragraph-text--bold-20">Pareve and Kosher Labels</p>
                                                <p class="paragraph-text--regular-16">“Kosher” foods follow a Jewish law that forbids combining milk and meat in the same meal, which means that a meat product with a Kosher label will be safe. Check the label to see if food with a Kosher label or “U” (Pareve) label has kept either dairy or meat products out.</p>
                                            </div>
                                            <div style="margin-top: 4.5vw;">
                                                <img src="./assets/images/diet/Card_6_Cropped@2x.png" width="480">

                                            </div>

                                        </div>
                                    </div>
                                    <!-- <img src="./assets/images/diet/Card_6@2x.png" width="759"> -->
                                </div>
                            </div>
                        </div>

                    </div>




                </div>


            </div>

            <!-- NAVIGTING INGREDIENTS SECTION ENDS-->



            <!-- JOIN THE LARGER COMMUNITY SECTION STARTS -->

            <div class="col-12">
                <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
                <div class="section" style="margin-top: -6vh;
                    padding-top: 0;">
                    <div class="row join-community-position">
                        <div class="col-12 join-community-resources-bg" style="z-index:auto;">
                            <div class="row join-community-text-container">
                                <div class="col-xl-9 col-lg-9 col-md-9">
                                    <h2 class="text-color--white join-community-header">
                                        Stay in the loop and get updates
                                    </h2>

                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3">
                                    <button class="btn-hero--primary-green" style="width:190px; height:48px;">Sign Up</button>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>

            </div>



            <!-- JOIN THE LARGER COMMUNITY SECTION ENDS -->

            <!-- SCIENCE AND RESOURCES SECTION STARTS  -->
            <div class="col-12 card-section--padding">
                <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
                <div class="section" style="margin-top:5vh;">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 card-section--padding">
                            <a href="science.html" class="no-underline">
                                <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six callout-card--left-xl-width">
                                    <div>
                                        <img class="callout-card-desktop-image" src="./assets/images/diet/callout-science-card-img@2x.png" width="254" />
                                        <img class="callout-card-mobile-image" src="./assets/images/diet/callout-science-card-img-mobile@2x.png" width="346" />

                                    </div>
                                    <div class="pl-3 py-3 callout-card--text-content">
                                        <p class="header-text--light uppercase-text mt-2">Science</p>
                                        <p class="paragraph-text--bold-24 d-flex">
                                            Dive deeper into the science of Galactosemia
                                            <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg"/></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <!-- <img class="hide-mobile-image" src="./assets/images/home/callout-science.png" width="543" /> -->
                            <!--  <img class="hide-desktop-image" style="margin-left:-1.5rem;" src="./assets/images/home/callout-science-mobile@2x.png" width="344" /> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 callout-card--mt-2 card-section--padding">
                            <a href="resources.html" class="no-underline">
                                <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six callout-card--right-xl-width">
                                    <div>
                                        <img class="callout-card-desktop-image img-fluid" src="./assets/images/diet/callout-resources-card-img@2x.png" width="254" />
                                        <img class="callout-card-mobile-image  img-xs-fluid" src="./assets/images/diet/callout-resources-card-img-mobile@2x.png" width="346" />
                                    </div>
                                    <div class="pl-3 py-3 callout-card--text-content">
                                        <p class="header-text--light uppercase-text mt-2">Resources</p>
                                        <p class="paragraph-text--bold-24 d-flex pr-2">
                                            Find educational resources on Galactosemia
                                            <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg"/></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <!--  <img class="hide-mobile-image" src="./assets/images/home/callout-resources.png" width="543" /> -->
                            <!-- <img class="hide-desktop-image" style="margin-left:-1.5rem;" src="./assets/images/home/callout-resources-mobile@2x.png" width="344" /> -->
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="d-flex flex-wrap pt-5 mt-3 pl-5 ml-5">
                                <h3 class="share-this-text--h3 pt-2  pl-5 ml-5">Connect With Galactosemia Together:</h3>
                                <div class=" d-flex justify-content-between share-this-page-btn-margin">
                                    <div class="px-3 px-xs-3 btn-share-icons">
                                        <button class="btn--connect-facebook">
                                            <span class="icon-facebook-lg-icon"></span>
                                        </button>
                                    </div>

                                    <div class="px-3 btn-share-icons">
                                        <button class="btn--connect-youtube" >
                                            <span class="icon-youtube-lg-icon"></span>
                                        </button>
                                    </div>

                                    <div class="px-3 btn-share-icons">
                                        <button class="btn--connect-share">
                                            <span class="btn--connect-share-txt" data-toggle="modal" data-target="#exampleModal">Share <span class="icon-share-lg-icon btn--connect-share-icon"></span></span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 pt-5">
                            <!-- next section button  -->
                            <a href="science.html" style="text-decoration: none;">
                                <div class="btn--next-section--primary-green">
                                    <div class="d-inline">
                                        <p class="pl-3 pt-4"><span style="font-weight: 500!important;">Next:</span><span>&nbsp;Science</span>
                                            <!--<img class="pl-1" src="./assets/images/arrow-icon-white.svg" width="24"/>-->
                                            <span class="icon-arrow-icon-white"></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <!-- next section button  -->
                        </div>
                    </div>
                </div>
                <!-- SCIENCE AND RESOURCES SECTION ENDS  -->
            </div>
        </div>
    </main>
</section>

