---
title: Science
meta-description: #
layout: base.hbs
url-src: ./
active-page: science
canon-url: #

legal-code:
year: 2020

---

<section id="science">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
        <!-- HERO PLACEHOLDER-->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-science width-100 mx-auto">
                <div class="pl-4 hero-science-header-content">
                    <p class="header-text--light uppercase-text">Science</p>
                    <h1 style="font-size:60px;">Galactosemia in the body</h1>
                </div>
            </div>
        </div>
        <!-- HERO PLACEHOLDER-->
        <div class="container-xl container-lg container-md container-sm container-xs">
            <div class="row" style="margin-bottom: 50px">
                <div class="col-12">
                    <!--<div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class="section">
                        <!-- LIFE STAGES DESKTOP STARTS -->
                        <div class="text-left">
                            <p class="header-text--light uppercase-text">What’s Really Happening</p>
                            <h2 class="header-text--h2" style="max-width:529px;">How Galactosemia Affects the Body</h2>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="pt-3 mr-2 science--paragraph-section-1">
                                    <p class="paragraph-text--medium-condensed-20">Classic Galactosemia (pronounced ga-lac-toe-SEE-me-ah) is a rare condition where the body has trouble breaking down a sugar called “galactose.”
                                    </p>

                                    <p class="paragraph-text--regular-16"><strong>Galactose</strong> is a type of sugar most commonly found in milk, dairy products, and certain other foods. Lactose, a complex sugar found in milk, dairy products and certain other foods is broken down within the body into equal parts of the simple sugars glucose and galactose. Galactose is also made naturally in the body—this is called “endogenous” galactose.</p>
                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div style="margin-top:-60px; margin-left:30px;position: absolute; z-index:1;">
                                    <img src="./assets/images/science/img_dairy_LG@2x.png" width="515" />
                                </div>
                            </div>

                        </div>

                        <!-- LIFE STAGES MOBILE DESKTOP ENDS -->
                        <!-- CLASSIC GLASTOCEMIA STARTS -->
                        <div class="section-row-full-width bg--secondary-light-blue">
                            <!--<div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                            <div class="container-xl container-lg container-md container-sm">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="text-center" style="padding-top: 17vh;">
                                        <p class="header-text-header-eyebrow--bold">The most common type of Galactosemia that causes health problems is called </p>
                                        <h2 class="header-text--h2 text-color--secondary-salmon">“Classic Galactosemia.”</h2>

                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="text-center pt-3 pb-5">
                                        <img id="science-info--img1" src="./assets/images/science/Science_Info_Component_LG@2x.png" width="1107" />
                                        <img id="science-info--img2" style="display: none;" src="./assets/images/science/Science_Info_Component_LG_PT2@2x.png" width="1107" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- CLASSIC GLASTOCEMIA ENDS -->
                        <div class="row">
                            <!-- pathways background bg -->
                            <div class="col-12">

                                <div class="text-left pb-4 pt-5">
                                    <p class="header-text-header-eyebrow--bold">Elevated levels </p>
                                    <p class="paragraph-text--regular-16">Children and adults with Galactosemia will have high levels of Gal-1p in their blood. After an infant has been diagnosed with Galactosemia, their doctor will do a blood test to see how much Gal-1p is in their blood. Once a child with Galactosemia has been on a galactose-reduced diet, their doctor will check their blood again periodically to see how the Gal-1p levels have changed.

                                    </p>
                                    <div class="d-flex" style="max-width:794px;">
                                        <div class="bg--secondary-light-blue mr-3" style="width:8px; height:38px;"></div>
                                        <p class="paragraph-text--bold-14 text-color--secondary-blue">Although Gal-1p is monitored, there is no evidence that it directly causes health problems that people with Galactosemia may experience.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
                                        <div class="text-center bg--white shadow--dk-3 pt-5 pb-3" style="max-width:1106px;">
                                            <h2 class="text-center">Toxic galactitol</h2>
                                            <img src="./assets/images/science/Legend@2x.png" width="668" />
                                            <div class="flex-wrap" style="padding-top:1rem;padding-left:11rem; padding-right:11rem;">
                                                <p class="paragraph-text--regular-16 text-left">Because people with Galactosemia cannot complete the process of metabolizing Gal-1p, excess galactose backs up and is abnormally converted by an enzyme called <strong>Aldose Reductase</strong> through another pathway that is not usually involved. Then, this enzyme turns galactose into toxic galactitol.</p>
                                            </div>

                                            <div class="py-5">
                                                <img src="./assets/images/science/infographic_3@2x.png" width="380" />
                                            </div>

                                        </div>




                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-12" style="margin-top:-9rem; z-index:-1;">
                    <div class="section pb-xs-0">
                        <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                        <!-- TOXIC TO THE BODY SECTION START-->
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div style="margin-left: -17rem;">
                                    <img src="./assets/images/science/img_visit_MD@2x.png" width="648" />

                                </div>
                            </div>

                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">

                                <div style="margin-top: 14vh;">
                                    <p class="paragraph-text--bold-24">Toxic to the body</p>
                                    <p class="paragraph-text--regular-16">Galactitol is harmful to the body. It has been shown that galactitol can build-up in the blood, tissues, and organs, including the brain. Using magnetic resonance spectroscopy (MRS) technology, this build-up of galactitol can be seen in the brain.</p>
                                    <p class="paragraph-text--bold-16">There is evidence that toxic galactitol is responsible for a range of health problems that people with Galactosemia may experience including:</p>

                                    <div class="pt-2">
                                        <img src="./assets/images/science/icons@2x.png" width="502" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- TOXIC TO THE BODY SECTION ENDS-->

                    </div>
                </div>
                <!-- ONLY PEOPLE WITH GALACTOCEMIA STARTS-->
                <div class="col-12">
                    <div class="section pb-xs-0">
                        <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div style="margin-left:-18vw;">
                                    <div>
                                        <div class="offset-2 col-6">
                                            <div style="position:absolute;top:50px;">
                                                <p class="paragraph-text--bold-20 text-color--secondary-blue ml-5">Only people with Galactosemia will make toxic galactitol</p>
                                                <div class="d-flex">
                                                    <div class="bg-secondary-salmon" style="width:12px;height:47px;"></div>
                                                    <p class="paragraph-text--medium-condensed-20" style="margin-left:2rem; margin-top:-.4rem;">This is important to understand, because galactitol is harmful to children and adults living with Galactosemia.
                                                </div>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="bg--secondary-light-blue w-100" style="height:216px;">

                                    </div>
                                    <!-- <img src="./assets/images/resources/Callout_Contextual@2x.png" width="1563" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ONLY PEOPLE WITH GALACTOCEMIA ENDS-->

                <!-- UNDERSTANDING GENETICS SECTION STARTS -->
                <div class="col-12">
                    <!--	<div class="section mt-5" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400"> -->
                    <div class="section mt-5">

                        <!-- UNDERSTANDING GENETICS  HEADER  -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-center">
                                    <p class="header-text--light uppercase-text">Genes</p>
                                    <h2 class="header-text--h2">Understanding the genetics of Galactosemia</h2>

                                </div>
                            </div>
                        </div>
                        <!-- UNDERSTANDING GENETICS HEADER  -->
                        <div class="row mt-4">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="pt-2">
                                    <p class="paragraph-text--medium-condensed-20" style="max-width:767px;">Galactosemia is a genetic condition, meaning that it is passed down through a child’s parents.</p>

                                    <p class="paragraph-text--regular-16" style="max-width:767px;">When a baby is conceived, it receives genes from each parent, creating thousands of pairs of genes that will determine things like the color of their eyes and hair. There is also a gene pair that enables the production of an enzyme that helps our bodies process galactose—this is the <i>GALT</i> gene.</p>
                                    <p class="paragraph-text--regular-16" style="max-width:767px;">Galactosemia occurs when each of the infant’s parents carry one form of the gene that makes a working GALT enzyme and one nonworking gene that does not make the GALT enzyme. When a child inherits a nonworking form of the <i>GALT</i> gene from both parents to form a nonworking <i>GALT</i> gene pair, their GALT enzyme will not work as it should and causes Galactosemia. This kind of genetic inheritance is known as “autosomal recessive” inheritance.</p>

                                </div>

                            </div>

                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div>
                                    <img src="./assets/images/science/genetics_chart@2x.png" width="637" />
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <!-- BLOOD SECTION STARTS -->
            <div class="col-12">
                <!--	<div class="section mt-5" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400"> -->
                <div class="section mt-5">

                    <!-- UNDERSTANDING GENETICS  HEADER  -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="text-center">
                                <p class="header-text--light uppercase-text">Diagnosis</p>
                                <h2 class="header-text--h2">Blood analyses help healthcare providers determine Galactosemia</h2>
                            </div>
                        </div>
                    </div>
                    <!-- UNDERSTANDING GENETICS HEADER  -->
                    <div class="row mt-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mr-3">
                            <div>
                                <div style="z-index: -1; position:absolute; margin-left:-20rem; margin-top:-9rem;">
                                    <img src="./assets/images/science/yellow_bg_02@2x.png" width="450" />
                                </div>
                                <div class="section--card-white shadow--dk-2" style="margin-left:4rem;">
                                    <div class="mx-auto">
                                        <div class="text-center section--card-white--content">
                                            <img src="./assets/images/science/icon_mutation_MD@2x.png" width="88" />
                                            <div class="mx-2">
                                                <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                                <p class="paragraph-text--regular-16"><i>GALT</i> mutation analysis is done to determine the genetic code changes in the <i>GALT</i> gene. Figuring out the type of mutation helps confirm whether the <i>GALT</i> enzyme is missing or to what degree it is functioning.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pl-0" style="margin-left:-2rem;">
                            <div class="section--card-white shadow--dk-1">
                                <div class="mx-auto">
                                    <div class="text-center section--card-white--content">
                                        <img src="./assets/images/science/icon_mutation_MD@2x.png" width="88" />
                                        <p class="paragraph-text--bold-24">GALT mutation analysis</p>
                                        <p class="paragraph-text--regular-16" style="padding: 0 60px 0 60px;">Confirms the amount of <i>GALT</i> enzyme activity present in red blood cells—the less <i>GALT</i> enzyme you have, the less you are able to process galactose into energy for the body.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!-- BLOOD SECTION ENDS -->
        <!-- GENERALLY AGREED UPON STARTS-->
        <div class="col-12">
            <div class="section pb-xs-0">
                <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div style="margin-left:-18vw;">
                            <div>
                                <div class="offset-2 col-6">
                                    <div style="position:absolute;top:50px;">
                                        <p class="paragraph-text--bold-20 text-color--secondary-blue ml-5">Generally agreed upon</p>
                                        <div class="d-flex">
                                            <div class="bg-secondary-salmon" style="width:12px;height:47px;"></div>
                                            <p class="paragraph-text--medium-condensed-20" style="margin-left:2rem; margin-top:-.4rem;">People with Galactosemia who have more than or equal to 10-15% GALT activity are not required to follow a galactose-restricted diet.
                                        </div>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="bg--secondary-light-blue w-100" style="height:216px;">
                                <div style="position:relative; left: 75%">
                                    <img src="./assets/images/science/img_tube_MD@2x.png" width="380" />
                                </div>
                            </div>
                            <!-- <img src="./assets/images/resources/Callout_Contextual@2x.png" width="1563" />-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- GENERALLY AGREED UPON ENDS-->




        <!-- JOIN THE LARGER COMMUNITY SECTION STARTS -->

        <div class="col-12">
            <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
            <div class="section" style="margin-top: -6vh;
                    padding-top: 0;">
                <div class="row join-community-position">
                    <div class="col-12 join-community-resources-bg" style="z-index:auto;">
                        <div class="row join-community-text-container">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <h2 class="text-color--white join-community-header">
                                    Stay in the loop and get updates
                                </h2>

                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <button class="btn-hero--primary-green" style="width:190px; height:48px;">Sign Up</button>
                            </div>



                        </div>

                        <!-- <img class="join-community-position"style="width:100%;z-index:0;margin-top:-300px;" src="./assets/images/home/callout-signup-bg@2x.png">-->
                    </div>
                </div>
            </div>

        </div>



        <!-- JOIN THE LARGER COMMUNITY SECTION ENDS -->

        <!-- SCIENCE AND RESOURCES SECTION STARTS  -->
        <div class="col-12 card-section--padding">
            <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
            <div class="section" style="margin-top:5vh;">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 card-section--padding">
                        <a href="diet.html" class="no-underline">
                            <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six card-section--card-width" style="margin-left: 14rem;">
                                <div>
                                    <img class="callout-card-desktop-image" src="./assets/images/resources/diet-callout@2x.png" width="254" />
                                    <img class="callout-card-mobile-image" src="./assets/images/resources/diet-callout-mobile@2x.png" width="346" />

                                </div>
                                <div class="pl-3 py-3 callout-card--text-content">
                                    <p class="header-text--light uppercase-text mt-2">Diet</p>
                                    <p class="paragraph-text--bold-24 d-flex">
                                        Learn more about how to approach a diet
                                        <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg"/></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- <img class="hide-mobile-image" src="./assets/images/home/callout-science.png" width="543" /> -->
                        <!--  <img class="hide-desktop-image" style="margin-left:-1.5rem;" src="./assets/images/home/callout-science-mobile@2x.png" width="344" /> -->
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 callout-card--mt-2 card-section--padding">
                        <a href="resources.html" class="no-underline">
                            <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six card-section--card-width">
                                <div>
                                    <img class="callout-card-desktop-image img-fluid" src="./assets/images/science/callout-resources-card-img@2x.png" width="254" />
                                    <img class="callout-card-mobile-image  img-xs-fluid" src="./assets/images/science/callout-resources-card-img-mobile@2x.png" width="346" />
                                </div>
                                <div class="pl-3 py-1 callout-card--text-content">
                                    <p class="header-text--light uppercase-text mt-3">Resources</p>
                                    <p class="paragraph-text--bold-24 d-flex pr-0 mb-0" style="width: 254px;">
                                        Access educational resources on Galactosemia
                                        <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg"/></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!--  <img class="hide-mobile-image" src="./assets/images/home/callout-resources.png" width="543" /> -->
                        <!-- <img class="hide-desktop-image" style="margin-left:-1.5rem;" src="./assets/images/home/callout-resources-mobile@2x.png" width="344" /> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="d-flex flex-wrap pt-5 mt-3">
                            <h3 class="share-this-text--h3 pt-2">Connect With Galactosemia Together:</h3>
                            <div class=" d-flex justify-content-between share-this-page-btn-margin">

                                <div class="px-3 px-xs-3 btn-share-icons">
                                    <button class="btn--connect-facebook">
                                        <span class="icon-facebook-lg-icon"></span>
                                    </button>
                                </div>

                                <div class="px-3 btn-share-icons">
                                    <button class="btn--connect-youtube" >
                                        <span class="icon-youtube-lg-icon"></span>
                                    </button>
                                </div>

                                <div class="px-3 btn-share-icons">
                                    <button class="btn--connect-share">
                                        <span class="btn--connect-share-txt" data-toggle="modal" data-target="#exampleModal">Share <span class="icon-share-lg-icon btn--connect-share-icon"></span></span>
                                    </button>
                                </div>

                                <!-- <button class="modal-share-btn" data-toggle="modal" data-target="#exampleModal">
                                    <img src="./assets/images/home/share-lg-icon.svg" width="129"/></button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-5">
                        <!-- next section button  -->
                        <a href="resources.html" style="text-decoration: none;">
                            <div class="btn--next-section--primary-green">
                                <div class="d-inline">
                                    <p class="pl-3 pt-4"><span style="font-weight:500!important;">Next:</span><span>&nbsp;Resources</span>
                                        <!--<img class="pl-1" src="./assets/images/arrow-icon-white.svg" width="24"/>-->
                                        <span class="icon-arrow-icon-white"></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- next section button  -->
                    </div>
                </div>
            </div>
            <!-- SCIENCE AND RESOURCES SECTION ENDS  -->
        </div>
    </main>
</section>