---
title: Resources
meta-description: #
layout: base.hbs
url-src: ./
active-page: resources
canon-url: #

legal-code:
year: 2020

---

<section id="resources">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden; overflow-y:hidden;">
        <!-- HERO PLACEHOLDER-->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-resources width-100 mx-auto">
                <div class="pl-4 hero-resources-header-content">
                    <p class="text-color--secondary-salmon header-text--light uppercase-text">SUPPORTING FAMILIES WITH GALACTOSEMIA</p>
                    <h1 style="font-size:60px;">Explore resources and connect with others</h1>
                </div>

            </div>
        </div>
        <!-- HERO PLACEHOLDER-->
        <div class="container-xl container-lg container-md container-sm container-xs">
            <div class="row">
                <div class="col-12">
                    <!--<div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class="section">
                        <!-- LIFE STAGES DESKTOP STARTS -->
                        <div class="text-left">
                            <p class="header-text--light uppercase-text">Resources</p>
                            <h2 class="header-text--h2">The foundations on the frontline</h2>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="paragraph--container">
                                    <p class="text-color--primary-green paragraph-text--medium-20">
                                        The Galastocemia Foundation</p>
                                    <p class="paragraph-text--regular-16">This non-profit organization advocates for people with Galactosemia and their families. The Foundation connects families and supports networking efforts between clinicians and researchers.
                                    </p>
                                    <a href="http://www.galactosemia.org/" target="_blank">
                                        <button class="btn--see-resources">
                                    <span>See Resources&nbsp;<span style="font-size:12px;" class="icon-link-out-icon"></span>
                                    </span>
                                        </button>
                                    </a>
                                </div>

                                <div class="paragraph--container pt-4">
                                    <p class="text-color--primary-green paragraph-text--medium-20">Galactosemia Association of Midwest America (GAMA)
                                    </p>
                                    <p class="paragraph-text--regular-16">This regional advocacy organization serves families in the Midwest, United States. Founded by a small group of parents in Illinois, their mission to educate families living with Galactosemia and further research about the condition.
                                    </p>
                                    <a href="http://galactosemiamidwest.com/" target="_blank">
                                        <button class="btn--see-resources">
                                      <span>See Resources&nbsp;<span style="font-size:12px;" class="icon-link-out-icon"></span>
                                      </span>
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div style="margin-top:-60px;">
                                    <img src="./assets/images/resources/img_womengroup@2x.png" width="841" />
                                </div>
                            </div>

                        </div>

                        <!-- LIFE STAGES MOBILE DESKTOP ENDS -->
                        <!-- A TALE OF TWO PATHWAYS SECTION STARTS -->
                        <div class="row">
                            <!-- pathways background bg -->
                            <div class="col-12">

                                <div class="text-left pb-4">
                                    <p class="header-text--light uppercase-text">Take care</p>
                                    <h2 class="header-text--h2">Caring for yourself and your loved ones</h2>
                                    <p class="paragraph-text--regular-16">People living with or loving someone with Galactosemia can likely agree that it’s important to take some personal time to rest and refresh before setting out on the next adventure. These resources will help you and your family recharge physically and emotionally.
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="d-flex">

                                            <div class="grid-block-component shadow--dk-1">
                                                <div class="d-flex justify-content-between">
                                                    <p class="grid-block-component--eyebrow">PDF</p>
                                                </div>
                                                <div>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="grid-block-component--header">Mindful Breathing</p>
                                                        <p class="grid-block-component--kb">316 KB</p>
                                                    </div>
                                                    <p class="grid-block-component--paragraph" style="height: 110px;">Take a breath with this neuroscience-based breathing exercise.</p>
                                                </div>
                                                <div class="grid-block-component-margin-top-40">
                                                    <a href="http://projects.hsl.wisc.edu/SERVICE/courses/wholehealth-
                                                  for-pain-and-suffering/Script-Mindful-
                                                  Breathing.pdf">
                                                        <button class="grid-block-component--resource-btn">
                                                      <span class="grid-block-component--resource-btn--text">Download Resource
                                                        <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                                      </span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="grid-block-component shadow--dk-1 ml-4">
                                                <div class="d-flex justify-content-between">
                                                    <p class="grid-block-component--eyebrow">Link</p>
                                                    <!-- <p class="grid-block-component--kb">1.2 MB</p> -->
                                                </div>
                                                <div>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="grid-block-component--header">Guided meditation</p>

                                                    </div>
                                                    <p class="grid-block-component--paragraph" style="height:80px;">Recenter your mind with some free guided meditation.</p>
                                                </div>
                                                <div class="grid-block-component-margin-top-10">
                                                    <a href="https://static1.squarespace.com/static/551b5c96e4b00eb2216e7c74/t/568dc70c1c1210854ed3ec09/1452132108964/PGCRecipeBook2006.pdf">
                                                        <button class="grid-block-component--resource-btn">
                                                    <span class="grid-block-component--resource-btn--text">Download Resource
                                                      <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                                    </span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="d-flex pt-4">

                                            <div class="grid-block-component shadow--dk-1">
                                                <div class="d-flex justify-content-between">
                                                    <p class="grid-block-component--eyebrow">Link</p>
                                                </div>
                                                <div>
                                                    <div class="d-flex justify-space-between">
                                                        <p class="grid-block-component--header">Connect with the community</p>
                                                        <!--<p class="grid-block-component--kb">316 KB</p>-->
                                                    </div>
                                                    <p class="grid-block-component--paragraph" style="height:110px;">Connect with folks who understand what you’re going through.</p>
                                                </div>
                                                <div class="grid-block-component-margin-top-40">
                                                    <a href="" target="_blank">
                                                        <button class="grid-block-component--resource-btn">
                                                    <span class="grid-block-component--resource-btn--text">Download Resource
                                                      <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                                    </span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div style="margin-left:4rem;">
                                            <img src="./assets/images/resources/img_woman_yoga@2x.png" width="643">
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="section pb-xs-0">
                        <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                        <!-- THINGS TO REMEMBER-->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="things-to-remember--container-style">
                                    <div class="row">
                                        <div class="offset-5 col-7">
                                            <div class="things-to-remember--container">
                                                <p class="paragraph-text--bold-20 text-color--secondary-blue ml-5">Things to remember</p>
                                                <p class="paragraph-text--medium-condensed-20 things-to-remember--content">Practicing self-care restores balance and focus, which can only make you more effective in your daily life.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <img src="./assets/images/resources/Callout_Contextual@2x.png" width="1563" />
                                </div>

                            </div>

                        </div>
                        <!-- METABOLIC PATHWAY ENDS -->
                    </div>
                </div>
                <!-- HEALTHCARE SECTION STARTS -->
                <div class="col-12">
                    <!--	<div class="section mt-5" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400"> -->
                    <div class="section mt-5">

                        <!-- CHILDHOOD DEVELOPMENT HEADER  -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-center">
                                    <p class="header-text--light uppercase-text">More resources</p>
                                    <h2 class="header-text--h2 px-5">Information about childhood development with Galactosemia</h2>
                                    <p class="paragraph-text--medium-condensed-20" style="padding-left:7rem; padding-right:7rem;">The Centers for Disease Control (CDC) is a trusted source that can help you identify the milestones your child should reach as they grow up.</p>
                                </div>
                            </div>
                        </div>
                        <!-- CHILDHOOD DEVELOPMENT HEADER  -->
                        <div class="row mt-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div style="margin-left:-19vw;">
                                    <img src="./assets/images/resources/img_baby_sleeping@2x.png" width="607" />
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="d-flex">
                                    <div class="grid-block-component shadow--dk-1">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">PDF</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Act early</p>
                                                <!-- <p class="grid-block-component--kb">316 KB</p> -->
                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:110px;">Learn the signs. Take action.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="https://www.cdc.gov/ncbddd/actearly/index.html" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                            <span class="grid-block-component--resource-btn--text">See Resource
                                              <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl"></span>
                                            </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="grid-block-component shadow--dk-1 ml-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">PDF</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Milestone Tracker App</p>
                                                <!-- <p class="grid-block-component--kb">1.2</p> -->
                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:79px;">Download the Milestone Tracker app to help follow your child’s progress.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-10">
                                            <a href="https://www.cdc.gov/ncbddd/actearly/milestonesapp.
                                            html" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                            <span class="grid-block-component--resource-btn--text">See Resource
                                              <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl"></span>
                                            </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                </div>


                                <div class="d-flex pt-4">

                                    <div class="grid-block-component shadow--dk-1">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Discussion guide</p>
                                                <p class="grid-block-component--kb">316 KB</p>
                                            </div>
                                            <p class="grid-block-component--paragraph" style="height: 110px;">Download these tips for talking to your doctor about developmental concerns.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="https://www.cdc.gov/ncbddd/actearly/pdf/help_pdfs/H
                                            ow-to-Get-Help-for-Your-Child-Tip-Sheet_FINAL_2-
                                            2020-English_508.pdf" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                            <span class="grid-block-component--resource-btn--text">Download Resource
                                              <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                            </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="grid-block-component shadow--dk-1 ml-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Additional resources</p>
                                                <!--<p class="grid-block-component--kb">1.2</p>-->
                                            </div>
                                            <p class="grid-block-component--paragraph" style="height: 75px;">More free resources in multiple languages can be found here. </p>
                                        </div>
                                        <div class="grid-block-component-margin-top-10">
                                            <a href="https://www.cdc.gov/ncbddd/actearly/freematerials.ht
                                          ml" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                              <span class="grid-block-component--resource-btn--text">See Resource<span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl"></span>
                                              </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- PROFESSIONAL RESOURCES STARTS -->

                <div class="section-row-full-width bg--secondary-light-blue">
                    <!--<div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class="container-xl container-lg container-md container-sm">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="text-center pt-5">
                                    <p class="header-text--light uppercase-text">PROFESSIONAL RESOURCES</p>
                                    <h2 class="header-text--h2">Resources to share with teachers, doctors, and other members of your healthcare team</h2>
                                    <p class="paragraph-text--medium-condensed-20">For many families, the care community lifting up children and adults with Galactosemia includes teachers and healthcare providers of a variety of specialties. These resources will make sure everyone’s on the same page.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10vh;">
                                <div class="d-flex justify-content-center pt-4 pb-5">
                                    <div class="toggle-btn--container bg--secondary-blue">
                                        <div id="resources-toggle-btn-1" style="position:absolute;width:200px; height:50px; background:transparent;"></div>
                                        <p class="toggle-btn-text-1 toggle-btn--text px-5 pb-2">Teachers</p>
                                        <hr class="toggle-btn-highlight-1 toggle-btn--highlight">
                                    </div>
                                    <div class="toggle-btn--container">
                                        <div id="resources-toggle-btn-2" style="position:absolute;width:400px; height:50px; background:transparent;"></div>
                                        <div>
                                            <p class="toggle-btn-text-2 toggle-btn--text px-5 pb-2 toggle--off-text">Healthcare Professionals</p>
                                            <hr class="toggle-btn-highlight-2 toggle-btn--highlight toggle--off-bg">
                                        </div>
                                    </div>
                                </div>
                                <!-- TEACHERS GRID -->
                                <div id="teachers-tab" class="d-flex align-content-start flex-wrap grid--container">


                                    <div class="grid-block-component shadow--dk-1 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                            <!--<p class="grid-block-component--kb">316 KB</p>-->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Teacher’s guide to Galactosemia</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:110px;">A guide for educators about the basics of Galactosemia.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="https://dshs.texas.gov/newborn/teachgal.shtm?fbclid=
                                              IwAR1gu9o4wbVnoCnNzDkcCIv-
                                              TMlhy9LPGpaHek4L0FxYevuupX1LPwOa08M" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                              <span class="grid-block-component--resource-btn--text">See Resource
                                                <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl" grid-block-component-icon-pl></span>
                                              </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="grid-block-component shadow--dk-1 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">PDF</p>
                                            <p class="grid-block-component--kb">202 KB</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Understanding Galactosemia: Resources for educators</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:86px;">A downloadable resource for educators about Galactosemia.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="https://newenglandconsortium.org/brochures/Galacto
                                              emia-Resources-for-Educators.pdf" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                                <span class="grid-block-component--resource-btn--text">Download Resource
                                                  <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                                </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="grid-block-component shadow--dk-1 mt-xl-0 mt-lg-4 mt-md-4 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">PPT</p>
                                            <p class="grid-block-component--kb">1.1 MB</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header" style="font-size: 18px;">Guide to special food and nutrition needs in child nutrition programs</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="font-size: 14px; line-height: 20px; margin-top: -10px;">A downloadable presentation about nutrition programs for children with special dietary needs.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-5">
                                            <a href="http://www.Galactosemiamidwest.com/wpcontent/
                                              uploads/2012/01/Meeting_Needs.ppt" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                                <span class="grid-block-component--resource-btn--text">Download Resource
                                                  <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                                </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>






                                    <div class="grid-block-component shadow--dk-1 mt-4 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                            <!--<p class="grid-block-component--kb">316 KB</p>-->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Navigating the Individualized Education Program (IEP)</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:86px;">A resource about IEPs including the services and support offered.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="https://www.understood.org/en/schoollearning/
                                            special-services/ieps/understandingindividualized-educationprograms#Understanding_the_IEP_Process" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                          <span class="grid-block-component--resource-btn--text">See Resource
                                            <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl" ></span>
                                          </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <!-- HEALTHCARE PROFESSIONALS TAB-->
                                <div id="heathcare-professionals-tab" class="d-flex align-content-start flex-wrap grid--container" style="display:none!important;">

                                    <div class="grid-block-component shadow--dk-1 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                            <!--<p class="grid-block-component--kb">316 KB</p> -->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">An Introduction to Galactosemia</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:110px;">A brochure Galactosemia including the mechanism of Disease.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="" target="_blank">
                                                <button class="grid-block-component--resource-btn">
                                            <span class="grid-block-component--resource-btn--text">See Resource
                                              <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl"></span>
                                            </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="grid-block-component shadow--dk-1 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                            <!--<p class="grid-block-component--kb">316 KB</p>-->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Galactosemia symptoms at different stages of life </p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height:85px;">A poster that summarizes the stages of Galactosemia.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="" target="_blank">
                                                <button class="grid-block-component--resource-btn">
                                                <span class="grid-block-component--resource-btn--text">See Resource
                                                  <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl"></span>
                                                </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="grid-block-component shadow--dk-1">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">PDF</p>
                                            <p class="grid-block-component--kb">1.8 MB</p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Galactosemia FAQ's</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height: 108px;">A brochure of frequently asked questions about Galactosemia.
                                            </p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="" target="_blank">
                                                <button class="grid-block-component--resource-btn">
                                          <span class="grid-block-component--resource-btn--text">Download Resource
                                            <span class="icon-link-out-icon grid-block-component--resource-btn--icon"></span>
                                          </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="grid-block-component shadow--dk-1 mt-4 mr-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Diet</p>
                                            <!-- <p class="grid-block-component--kb">316 KB</p> -->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">NIH Galactosemia Guide</p>

                                            </div>
                                            <p class="grid-block-component--paragraph" style="height: 110px;">A brochure from the National Institute of Health about Galactosemia.</p>
                                        </div>
                                        <div class="grid-block-component-margin-top-40">
                                            <a href="https://ghr.nlm.nih.gov/condition/galactosemia" target="_blank">
                                                <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                                <span class="grid-block-component--resource-btn--text">See Resource
                                                  <span class="icon-link-out-icon grid-block-component--resource-btn--icon grid-block-component-icon-pl"></span>
                                                </span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>
                </div>

                <!-- PROFESSIONAL RESOURCES ENDS  -->



                <!-- JOIN THE LARGER COMMUNITY SECTION STARTS -->

                <div class="col-12">

                    <div class="section" style="margin-top: -11vh;
                    padding-top: 0;">
                        <div class="row join-community-position">
                            <div class="col-12 join-community-resources-bg" style="z-index:auto;">
                                <div class="row join-community-text-container">
                                    <div class="col-xl-9 col-lg-9 col-md-9">
                                        <h2 class="text-color--white join-community-header">
                                            Stay in the loop and get updates
                                        </h2>

                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3">
                                        <button class="btn-hero--primary-green join-community--btn">Sign Up</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>



                <!-- JOIN THE LARGER COMMUNITY SECTION ENDS -->

                <!-- SCIENCE AND RESOURCES SECTION STARTS  -->
                <div class="col-12 card-section--padding">
                    <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
                    <div class="section" style="margin-top:5vh;">
                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 card-section--padding">
                                <a href="science.html" class="no-underline">
                                    <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six">
                                        <div>
                                            <img class="callout-card-desktop-image img-fluid" src="./assets/images/resources/callout-science-card-img@2x.png" width="254" />
                                            <img class="callout-card-mobile-image  img-xs-fluid" src="./assets/images/resources/callout-science-card-img-mobile@2x.png" width="346" />
                                        </div>

                                        <div class="pl-3 py-3 callout-card--text-content">
                                            <p class="header-text--light uppercase-text mt-2">Science</p>
                                            <p class="paragraph-text--bold-24 d-flex">
                                                Dive deeper into the science of Galactosemia
                                                <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg"/></span>
                                            </p>
                                        </div>

                                    </div>
                                </a>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 callout-card--mt-2 card-section--padding">
                                <a href="diet.html" class="no-underline">
                                    <div class="d-flex flex-wrap hide-mobile-image bg--white shadow--dk-1 border-radius--six">
                                        <div>
                                            <img class="callout-card-desktop-image" src="./assets/images/resources/diet-callout@2x.png" width="254" />
                                            <img class="callout-card-mobile-image" src="./assets/images/resources/diet-callout-mobile@2x.png" width="346" />
                                        </div>

                                        <div class="pl-3 py-3 callout-card--text-content">
                                            <p class="header-text--light uppercase-text mt-2">Diet</p>
                                            <p class="paragraph-text--bold-24 d-flex pr-2">
                                                Learning about a Galactosemia-friendly diet
                                                <span class="callout-card--text-content-icon"><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg"/></span>
                                            </p>
                                        </div>

                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto pb-5">
                                <div class="d-flex pt-5 mt-3 justify-content-center">
                                    <h3 class="share-this-text--h3 pt-2">Connect with Galactosemia Together:</h3>
                                    <div class="d-flex justify-content-between">

                                        <button class="btn--connect-facebook ml-4 mr-3">
                                            <span class="icon-facebook-lg-icon"></span>
                                        </button>
                                        <button class="btn--connect-youtube mr-3">
                                            <span class="icon-youtube-lg-icon"></span>
                                        </button>

                                        <button class="btn--connect-share">
                                            <span class="btn--connect-share-txt" data-toggle="modal" data-target="#exampleModal">Share <span class="icon-share-lg-icon btn--connect-share-icon"></span></span>
                                        </button>
                                        <!-- <button class="modal-share-btn" data-toggle="modal" data-target="#exampleModal">
                                          <img src="./assets/images/home/share-lg-icon.svg" width="129"/></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SCIENCE AND RESOURCES SECTION ENDS  -->
                </div>
            </div>
        </div>
    </main>
</section>

