---
title: #
meta-description: #
layout: base.hbs
url-src: ./
active-page: dtc-home
canon-url: #

legal-code:
year: 2020
---

<!--dtc-home-->
<section id="dtc-home">
    <main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
        <!-- HERO PLACEHOLDER-->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-hcp-home width-100 mx-auto">
                <div class="text-center" style="padding-top: 15vh;">
                    <div>
                        <img src="./assets/images/hcphome/hero-hcp-logo.svg" />
                    </div>
                    <div style="padding-top:5rem;">
                        <p class="hero--content--text">As an integral part of their Galactosemia journey, you can help your patients find their way forward.
                        </p>
                    </div>
                    <div style="margin-top:8vh;">
                        <button class="hero-content--btn">
                            See the Science </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- HERO PLACEHOLDER-->
        <div class="container-xl container-lg container-md container-sm container-xs">
            <div class="row" style="margin-bottom: 50px">
                <div class="col-12">
                    <!--<div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                    <div class="section">
                        <!-- MORE TO LEARN SECTION STARTS -->
                        <div class="text-left">
                            <p class="header-text--light uppercase-text">More to Learn</p>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="d-flex  flex-row">
                                    <div id="more-to-learn-btn--mod" class="more-to-learn-btn pr-4">
                                        <div class="more-to-learn-btn--hotspot"></div>
                                        <div class="more-to-learn-btn--text-container d-flex">
                                            <p>Mechanism of Disease</p><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg" /></p>
                                        </div>
                                        <div>
                                            <img src="./assets/images/hcphome/mod-btn@2x.png" width="349">
                                        </div>
                                    </div>

                                    <div id="more-to-learn-btn--disease" class="more-to-learn-btn pr-4">
                                        <div class="more-to-learn-btn--hotspot"></div>
                                        <div class="more-to-learn-btn--text-container d-flex">
                                            <p class="pr-3" style="margin-top: -1.5rem;">Disease Symptoms<br>& Surveillance</p><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg" /></p>
                                        </div>
                                        <div>
                                            <img src="./assets/images/hcphome/disease-symptoms@2x.png" width="349">
                                        </div>
                                    </div>

                                    <div id="more-to-learn-btn--guidelines" class="more-to-learn-btn">
                                        <div class="more-to-learn-btn--hotspot"></div>
                                        <div class="more-to-learn-btn--text-container d-flex">
                                            <p class="pr-4">Clinical Guidelines</p><img class="toggle-pointer-img" src="./assets/images/home/arrow-btn.svg" /></p>
                                        </div>
                                        <div>
                                            <img src="./assets/images/hcphome/selected-guidline@2x.png" width="349">
                                        </div>
                                    </div>

                                </div>

                            </div>



                        </div>

                        <!-- MORE TO LEARN SECTION ENDS -->


                        <!-- GLASTOCEMIA IN MOTION SECTION STARTS -->

                        <div class="row mt-5">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="pt-3 mr-2 disease--paragraph-section-1">
                                    <div class="text-left" style="max-width:700px;">
                                        <p class="header-text--light uppercase-text">Galactosemia in Motion</p>
                                        <h2 class="header-text--h2">The pathway to Galactosemia</h2>
                                    </div>

                                    <p class="paragraph-text--medium-condensed-16">This video takes you on a visual exploration of the mechanism of how toxic galactitol manifests in patients with Galactosemia and its associated long-term complications.
                                    </p>

                                    <div>
                                        <a href="science.html">
                                            <button class="btn-hero--primary-green" style="width:190px; height:48px;">See the Science </button>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="d-flex">

                                    <div style="z-index: -1;" data-toggle="modal" data-target="#transcriptHcpModal">
                                        <img src="./assets/images/hcphome/video-placeholder@2x.png" width="624" />
                                    </div>
                                    <div class="position-absolute" style="margin-top:-3px; margin-left:30rem;z-index:-2;">
                                        <img src="./assets/images/hcphome/video-placeholder-bg@2x.png" width="389" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- GLASTOCEMIA IN MOTION SECTION ENDS -->


                        <!-- RESOURCES SECTION STARTS -->

                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div style="margin-left: -700px;">
                                    <img src="./assets/images/hcphome/04_Resources@2x.png" width="970" />
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12" style="margin-left: -2.5rem;">
                                <div class="text-left" style="max-width:700px;">
                                    <h2 class="header-text--h2">Resources</h2>
                                </div>

                                <div class="d-flex justify-space-around">

                                    <div class="grid-block-component grid-block-component--hcp-home-resources  shadow--dk-1">
                                        <div class="d-flex">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                            <!--<p class="grid-block-component--kb">316 KB</p> -->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">Connect with the Community</p>
                                            </div>
                                            <p class="grid-block-component--paragraph" style="height: 110px; line-height: 22px;">Connect with peers who can share experiences and offer insights into their approach to treating patients with Galactosemia.</p>
                                        </div>
                                        <div class="grid-block-component-hcp-margin-top-5">
                                            <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                            <span class="grid-block-component--resource-btn--text  mr-2">See Resource
                                              <span class="icon-link-out-icon grid-block-component--resource-btn--icon ml-4"></span>
                                            </span>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="grid-block-component grid-block-component--hcp-home-resources  shadow--dk-1 ml-4">
                                        <div class="d-flex justify-content-between">
                                            <p class="grid-block-component--eyebrow">Link</p>
                                            <!--<p class="grid-block-component--kb">316 KB</p> -->
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <p class="grid-block-component--header">The Galactosemia Foundation</p>
                                            </div>
                                            <p class="grid-block-component--paragraph" style="height: 110px;line-height: 22px;">This non-profit organization advocates for people with Galactosemia and their families. </p>
                                        </div>
                                        <div class="grid-block-component-hcp-margin-top-35">
                                            <button class="grid-block-component--resource-btn grid-block-component--resource-btn--size">
                                          <span class="grid-block-component--resource-btn--text mr-2">See Resource
                                            <span class="icon-link-out-icon grid-block-component--resource-btn--icon ml-4"></span>
                                          </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- RESOURCES SECTION ENDS -->
                    </div>


                </div>

            </div>

        </div>
        </div>

        <div class="col-12" style="margin-top:-9rem; z-index:-1;">
            <div class="section pb-xs-0">
                <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                <!-- TOXIC TO THE BODY SECTION START-->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs">

                    </div>


                </div>
                <!-- TOXIC TO THE BODY SECTION ENDS-->

            </div>
        </div>

        <!-- THERES MORE TO GALASTOCEMIA SECTION STARTS -->
        <div class="col-12">
            <div class="row join-the-community-disease--section-container">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <h2 class="text-color--white join-community-header join-community-header--hcp-home-header join-the-community-hcp-home--section-position">
                        There’s more to the Galactosemia story
                    </h2>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="pl-5 ml-5 pt-5 join-the-community-hcp-home--section-position">
                        <button class="btn-hero--primary-green" style="width:190px; height:48px;">Join Us</button>
                    </div>
                </div>

                <div style="margin-left: -20px; margin-top:-60px;  z-index:-1;">
                    <img class="w-100" src="./assets/images/disease_symptoms/Component_HCPCallout_LG_3@2x.png" />
                </div>

            </div>
        </div>

        <!-- THERES MORE TO GALASTOCEMIA SECTION ENDS -->



        <!-- SCIENCE AND RESOURCES SECTION STARTS  -->
        <div class="col-12 card-section--padding">
            <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
            <div class="section" style="margin-top:1vh;margin-bottom:6vh;">
                <div class="row">


                    <div class="offset-2 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pl-5">
                        <div class="d-flex flex-wrap pt-5 mt-3">
                            <h3 class="share-this-text--h3 pt-2">Connect With Galactosemia Together:</h3>
                            <div class="d-flex justify-content-between share-this-page-btn-margin">
                                <div class="px-3 px-xs-3 btn-share-icons">
                                    <button class="btn--connect-facebook">
                                        <span class="icon-facebook-lg-icon"></span>
                                    </button>
                                </div>

                                <div class="px-3 btn-share-icons">
                                    <button class="btn--connect-youtube" >
                                        <span class="icon-youtube-lg-icon"></span>
                                    </button>
                                </div>

                                <div class="px-3 btn-share-icons">
                                    <button class="btn--connect-share">
                                        <span class="btn--connect-share-txt" data-toggle="modal" data-target="#exampleModal">Share <span class="icon-share-lg-icon btn--connect-share-icon"></span></span>
                                    </button>
                                </div>
                                <!-- <a href="https://www.facebook.com/AppliedTherapeutics/" target="_blank"><img class="px-2 px-xs-3 btn-share-icons" src="./assets/images/home/facebook-lg-icon.svg" width="62" /></a>
                                <a href="#" target="_blank"><img class="px-2 btn-share-icons" style="margin-left:-10px;" src="./assets/images/home/youtube-lg-icon.svg" width="62" /></a>
                                <button class="modal-share-btn" data-toggle="modal" data-target="#exampleModal">
                                  <img src="./assets/images/home/share-lg-icon.svg" width="129"/></button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-5">
                        <!-- next section button  -->
                        <a href="moa.html">
                            <div class="btn--next-section--primary-green">
                                <div class="d-inline">
                                    <p class="pl-3 pt-4">Next:<span>&nbsp;Mechanism of Disease</span>
                                        <!--<img class="pl-1" src="./assets/images/arrow-icon-white.svg" width="24"/>-->
                                        <span class="icon-arrow-icon-white"></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- next section button  -->
                    </div>
                </div>
            </div>
            <!-- SCIENCE AND RESOURCES SECTION ENDS  -->
        </div>
    </main>
</section>