---
title: Disease S.C.C.
meta-description: #
layout: base.hbs
url-src: ./
active-page: disease
canon-url: #

legal-code:
year: 2020



---

<section id="disease">

</section>

<main role="main" class="container-fluid" style="margin-top: -10px; overflow-x:hidden;">
    <!-- HERO PLACEHOLDER-->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hero--bg-disease width-100 mx-auto">
            <div class="pl-4 hero-disease-header-content">
                <p class="header-text--light uppercase-text">Newborns to Adults 18+</p>
                <h1 style="font-size:60px;">Monitoring and surveillance of patients </h1>
            </div>
        </div>
    </div>
    <!--HERO PLACEHOLDER-->
    <div class="container-xl container-lg container-md container-sm container-xs">
        <div class="row" style="margin-bottom: 50px">
            <div class="col-12">
                <!--<div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                <div class="section">
                    <!-- ANALYLIZING GAL SECTION STARTS -->
                    <div class="text-left">
                        <p class="header-text--light uppercase-text">TESTING</p>
                        <h2 class="header-text--h2">Analyzing Gal-1p and GALT</h2>
                    </div>

                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="pt-3 mr-2 disease--paragraph-section-1">
                                <p class="paragraph-text--medium-condensed-16">Diagnostic testing to detect Classic Galactosemia and clinical variant Galactosemia are1:</p>
                                <ul class="ul-list--general-style">
                                    <li><span class="paragraph-text--regular-16">Detection of elevated erythrocyte Gal-1p concentration</span></li>
                                    <li><span class="paragraph-text--regular-16">Reduced erythrocyte GALT enzyme activity</span></li>
                                    <li><span class="paragraph-text--regular-16">Biallelic pathogenic variants in GALT</span></li>
                                </ul>

                                <p class="paragraph-text--bold-16">Almost 100% of infants<sup>1</sup></p>

                                <p class="paragraph-text--regular-16">Classic Galactosemia or clinical variant Galactosemia can be detected in almost all infants via newborn screening programs that include testing for Galactosemia in their panel. However, screening programs that only
                                    measure blood total galactose level, and not erythrocyte GALT enzyme activity can miss infants with clinical variant Galactosemia.
                                </p>
                            </div>

                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div style="margin-top:-60px; margin-left:200px;position: absolute; z-index:1;">
                                <img src="./assets/images/disease_symptoms/keyboard_bg@2x.png" width="540" />
                            </div>
                        </div>

                    </div>

                    <!-- ANALYLIZING GAL SECTION ENDS -->


                    <!-- DIAGNOSING SECTION STARTS -->

                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="bg-img--disease-newborn">
                                <img src="./assets/images/disease_symptoms/img_newborn@2x.png" width="740" />
                            </div>
                        </div>

                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="pt-3 mr-2 disease--paragraph-section-1">
                                <div class="text-left" style="max-width:700px;">
                                    <p class="header-text--light uppercase-text">DIAGNOSING</p>
                                    <h2 class="header-text--h2">Galactosemia Screening methods for newborns</h2>
                                </div>
                                <p class="paragraph-text--bold-16">Classic Galactosemia and clinical variant</p>
                                <p class="paragraph-text--medium-condensed-16">Galactosemia <strong>should be suspected</strong> in individuals with the following newborn screening results, clinical features, family history, and supportive laboratory findings<sup>1</sup>:</p>

                                <p class="paragraph-text--bold-16 text-color--secondary-blue">Newborn screening utilizes a small amount of blood obtained from a heel prick to quantify<sup>1</sup></p>

                                <ul class="ul-list--general-style">
                                    <li><span class="paragraph-text--regular-16"> Total content of erythrocyte galactose-1-phosphate and blood galactose concentration<sup>1</sup></span></li>
                                    <li><span class="paragraph-text--regular-16">Erythrocyte GALT enzyme activity<sup>1</sup></span></li>
                                    <li><span class="paragraph-text--regular-16">Biallelic pathogenic variants in GALT<sup>1</sup></span></li>
                                </ul>
                                <p class="paragraph-text--regular-16">State Newborn Screening (NBS) programs vary as to which of these tests is performed–or, if both are performed, in what sequence.<sup>1</sup>
                                </p>
                            </div>
                        </div>

                    </div>

                    <!-- DIAGNOSING SECTION ENDS -->


                    <!-- EARLY REACTION SECTION STARTS -->
                    <div class="section-row-full-width bg--secondary-light-blue">
                        <!--<div class="section pt-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
                        <div class="container-xl container-lg container-md container-sm">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="text-center pt-5 pb-4">
                                    <p class="header-text--light uppercase-text">Early reactions in Galactosemia</p>
                                    <h2 class="header-text--h2">Monitoring methods for newborns</h2>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
                                <div class="text-center pt-3 pb-5" style="padding-left: 7rem; padding-right:7rem;">

                                    A newborn with Classic Galactosemia will experience life-threatening <strong>complications within days</strong> after ingesting breast milk or a lactose-containing formula. Without dietary galactose restriction,
                                    manifestations of Galactosemia include: feeding problems, failure to thrive, liver damage, lethargy, seizures, and sepsis (mostly <i>E. coli</i>).<sup>1,3</sup>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- EARLY REACTIONS  SECTION ENDS -->
                    <!-- RESEARCH SECTION STARTS-->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="text-center pt-5 pb-4">
                                <p class="header-text--light uppercase-text">Research</p>
                                <h2 class="header-text--h2">MRS imaging demonstrates high levels of toxic galactitol in the brain<sup>4</sup></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <p class="paragraph-text--medium-condensed-20">Infants with Galactosemia who continue to consume galactose reveal extremely high levels of toxic galactitol in their brains as demonstrated by Magnetic Resonance Spectroscopy (MRS) images.<sup>4,5</sup></p>
                                <p class="paragraph-text--regular-16">
                                    With dietary restriction of galactose, early acute complications usually resolve themselves and liver failure, sepsis, and death are typically avoided. However, while some abnormalities resolve, other abnormalities observed with MRS in cognitive and language
                                    centers in the brain persist and are associated with long-term developmental complications.<sup>1,3</sup>
                                </p>
                                <div>
                                    <p class="paragraph-text--bold-20">Key Takeaway</p>
                                    <div class="d-flex">
                                        <div class="bg--callout-blue pr-1 mr-3" style="width:15px; height: 60px;"></div>
                                        <p class="paragraph-text--bold-14 text-color--secondary-blue ">Endogenous galactose is never eliminated via diet management and as the child develops, the prevalence of galactose in virtually all foods makes complete elimination of dietary galactose nearly impossible. <sup>3,6,7</sup></p>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div>
                                    <div class="text-center">
                                        <p class="paragraph-text--regular-12">MRS Example. See: Otaduy et al. AJNR Am J Neuroradiol. 2006; 27:204-207.</p>
                                    </div>
                                    <img src="./assets/images/disease_symptoms/MicrosoftTeams-image@2x.png" width="537" />
                                </div>

                                <div>

                                    <div class="pt-3 text--border-box--secondary-light-blue">
                                        <p class="paragraph-text--regular-14 text-center">Imaging studies have shown corresponding structural abnormalities, such as cerebral and cerebellar atrophy and white matter abnormalities.<sup>4</sup></p>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="text-left pt-5 pb-4">
                                    <p class="header-text--light uppercase-text">Monitoring at Every Stage</p>
                                    <h2 class="header-text--h2">How to monitor developmental delays</h2>
                                    <p class="paragraph-text--regular-16">To monitor developmental delays, international guidelines for the management of Classic Galactosemia recommend age-appropriate testing for cognitive development and status. Testing should include assessments of<sup>3</sup>:</p>
                                </div>

                                <div class="pt-4">
                                    <!-- developmental delays accordion -->
                                    <div id="types-accordion" class="at-accordion">
                                        <div class="card at-accordion-card">
                                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingTypesOne">
                                                <h2 class="mb-0">
                                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTypesOne" aria-expaned="false" aria-controls="collapseTypesOne">
                                                        <span class="at-accordion-card-header-h2 mr-2">Age 2-3 years</span>
                                                        <div class="reveal-button closed float-right" style="margin-left: 15vw;"></div>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTypesOne" class="collapse" aria-labelledby="headingOne" data-parent="#types-accordion">
                                                <div class="card-body">
                                                    <div>
                                                        <p class="paragraph-text--regular-16">Early speech/language and motor development.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card at-accordion-card">
                                            <div class="card-header border-bottom-none at-accordion-card-header" id="headingTypesTwo">
                                                <h2 class="mb-0">
                                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTypesTwo" aria-expaned="false" aria-controls="collapseTypesTwo">
                                                        <span class="at-accordion-card-header-h2 pr-4 mr-2">Age 4-5 years</span>
                                                        <div class="reveal-button closed float-right" style="margin-left: 15vw;"></div>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTypesTwo" class="collapse" aria-labelledby="headingTypesTwo" data-parent="#types-accordion">
                                                <div class="card-body">
                                                    <div>
                                                        <p class="paragraph-text--regular-16">School readiness and the potential need for occupational and/or speech therapy.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card at-accordion-card">
                                            <div class="card-header at-accordion-card-header" id="headingTypesThree">
                                                <h2 class="mb-0">
                                                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTypesThree" aria-expaned="false" aria-controls="collapseTypesThree">
                                                        <span class="at-accordion-card-header-h2 mr-2">Ages 8-10 & 12-14 years</span>
                                                        <div class="reveal-button closed float-right" style="margin-left: 15vw;"></div>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTypesThree" class="collapse" aria-labelledby="headingTypesThree" data-parent="#types-accordion">
                                                <div class="card-body accordion-bottom-border">
                                                    <div>
                                                        <p class="paragraph-text--regular-16">Cognitive development/areas requiring therapeutic intervention. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- developmental delays accordion -->
                                <p class=" pt-5 paragraph-text--regular-16">After the age of 15, continued assessment should be based on individual patient needs.
                                </p>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="pt-5 pb-4">
                                    <p class="paragraph-text--bold-20">Neurological defects persist and/or worsen throughout adulthood</p>
                                    <p class="paragraph-text--regular-16">Studies in adolescents and young adults with Galactosemia have shown <strong>both white and grey matter abnormalities consistent with the cognitive impairment</strong>, language problems, and motor disturbances
                                        observed beginning in early childhood.<sup>4,5</sup></p>

                                    <p class="paragraph-text--regular-16">Galactitol production also contributes to ovarian dysfunction. Most girls (>80%) with Classic Galactosemia develop primary ovarian insufficiency. Although the exact mechanism of <strong>ovarian dysfunction</strong>                                            has not been identified, both direct deposition of galactitol and oxidative stress induced by galactitol production are believed to contribute to this problem.<sup>8,9</sup></p>

                                    <p class="pt-4 paragraph-text--bold-20">Neurological deficits may diminish adult quality of life<sup>8,10</sup></p>
                                    <div>
                                        <p class="paragraph-text--regular-16">In adults, CNS deficits contribute to:</p>
                                        <ul class="ul-list--general-style">
                                            <li><span class="paragraph-text--regular-16">Lower academic attainment</span></li>
                                            <li><span class="paragraph-text--regular-16">Less skilled employment, more unemployment</span></li>
                                            <li><span class="paragraph-text--regular-16">An inability to form social bonds, including marriage</span></li>
                                            <li><span class="paragraph-text--regular-16">An inability to maintain independence<br> (living with parents)</span></li>
                                        </ul>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="border--section-line-separator"></div>
                            <div class="text-center pt-5 pb-4" style="padding-left: 10rem; padding-right:10rem;">
                                <p class="header-text--light uppercase-text">Looking Ahead</p>
                                <h2 class="header-text--h2">Long-term complications and patient surveillance</h2>
                            </div>

                            <div style="padding-left: 11rem; padding-right:12rem;">
                                <p class="paragraph-text--regular-16 text-center">Patients with Galactosemia exhibit extreme heterogeneity in the complications that manifest over time. Clinical findings in early disease do not predict long-term outcomes. Moreover, there is little or no correlation
                                    between the time when dietary restriction is initiated and developmental delays, and associations of specific complications with genotype remain unclear. Therefore, <strong>ongoing vigilant surveillance of patient health
                                        status is essential.<sup>1,3</sup></strong></p>
                            </div>

                            <div class="pt-4">
                                <div class="text-center">
                                    <p class="paragraph-text--bold-24">In adolescents with Galactosemia</p>
                                    <div class="py-2" style="padding-left: 19rem; padding-right:19rem;">
                                        <p class="paragraph-text--regular-16">Approximately one-half of patients with Classic Galactosemia will experience developmental delays that emerge in infancy or early childhood and then progress.</p>
                                    </div>
                                    <div>
                                        <p class="paragraph-text--bold-24 text-color--secondary-salmon">These include developmental delays in<sup>11</sup>:</p>
                                        <div class="d-flex justify-content-between">
                                            <!-- Motor function -->
                                            <div>
                                                <div class="bg-secondary-salmon round-number--counter">
                                                    <p>~10%</p>
                                                </div>
                                                <div class="text-center pt-3">
                                                    <p class="paragraph-text--medium-condensed-20">Motor function</p>
                                                </div>
                                            </div>
                                            <!-- Cognition -->
                                            <div>
                                                <div class="bg-secondary-salmon round-number--counter">
                                                    <p>~40%</p>
                                                </div>
                                                <div class="text-center pt-3">
                                                    <p class="paragraph-text--medium-condensed-20">Cognition</p>
                                                </div>
                                            </div>
                                            <!-- Language -->
                                            <div>
                                                <div class="bg-secondary-salmon round-number--counter">
                                                    <p>~80%</p>
                                                </div>
                                                <div class="text-center pt-3">
                                                    <p class="paragraph-text--medium-condensed-20">Language</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-12" style="margin-top:-9rem; z-index:-1;">
        <div class="section pb-xs-0">
            <!--<div class="section pb-xs-0" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400">-->
            <!-- TOXIC TO THE BODY SECTION START-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs">

                </div>


            </div>
            <!-- TOXIC TO THE BODY SECTION ENDS-->

        </div>
    </div>

    <!-- THERES MORE TO GALASTOCEMIA SECTION STARTS -->
    <div class="col-12">
        <div class="row join-the-community-disease--section-container">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <h2 class="text-color--white join-community-header join-the-community-disease--section-position">
                    Join the larger community
                </h2>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pl-5 ml-5 join-the-community-disease--section-position">
                    <button class="btn-hero--primary-green" style="width:190px; height:48px;">Join Us</button>
                </div>
            </div>

            <div style="margin-left: -20px; margin-top:-60px;  z-index:-1;">
                <img class="w-100" src="./assets/images/disease_symptoms/Component_HCPCallout_LG_3@2x.png" />
            </div>

        </div>


    </div>

    <!-- THERES MORE TO GALASTOCEMIA SECTION ENDS -->



    <!-- SCIENCE AND RESOURCES SECTION STARTS  -->
    <div class="col-12 card-section--padding">
        <!--  <div class="section" data-aos="fade-zoom-in" data-aos-duration="2000" data-aos-delay="400" style="margin-top:5vh;"> -->
        <div class="section" style="margin-top:1vh;margin-bottom:6vh;">
            <div class="row">


                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="d-flex flex-wrap pt-5 mt-3">
                        <h3 class="share-this-text--h3 pt-2">Connect With Galactosemia Together:</h3>
                        <div class="justify-content-between share-this-page-btn-margin">
                            <a href="https://www.facebook.com/AppliedTherapeutics/" target="_blank"><img class="px-2 px-xs-3 btn-share-icons" src="./assets/images/home/facebook-lg-icon.svg" width="62" /></a>
                            <a href="" target="_blank"><img class="px-2 btn-share-icons" style="margin-left:-10px;" src="./assets/images/home/youtube-lg-icon.svg" width="62" /></a>
                            <button class="modal-share-btn" data-toggle="modal" data-target="#exampleModal">
                                <img src="./assets/images/home/share-lg-icon.svg" width="129"/></button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-5">
                    <!-- next section button  -->
                    <div class="btn--next-section--primary-green">
                        <div class="d-inline">
                            <p class="pl-3 pt-4">Next:<span>&nbsp;Clinical Guidelines</span>
                                <span class="icon-arrow-icon-white"></span>
                            </p>
                        </div>
                    </div>
                    <!-- next section button  -->
                </div>
            </div>
        </div>
        <!-- SCIENCE AND RESOURCES SECTION ENDS  -->
    </div>
</main>